- line_items ||= shipment.canceled_line_items

- if line_items.length > 0
  .canceled-card
    h3.text-bold style='margin-top: 20px' = Spree.t('canceled_items')
    = render collection: line_items, partial: 'spree/shared/mailer_line_item', as: :line_item, locals: { shipment: shipment }

    p = t('emails.not_on_backorder', count: line_items.length )
