- tracking_number = shipment.tracking

- if tracking_number
  br

  - if shipment.tracking_url
    table.row
      tbody
        tr
          th.small-12.columns
            table.button style='margin:15px 0 5px'
              tr
                td
                  table
                    tr
                      td
                        = link_to('TRACK PACKAGE', shipment.tracking_url, rel: 'noopener', target: '_blank')

  p.text-semibold #{Spree.t(:tracking_number)}: #{tracking_number}
