- line_items ||= shipment.line_items.select { |i| i.quantity > 0 }
- title ||= 'ITEMS SHIPPED'

- if line_items.length > 0
  h3.text-bold style='margin-top: 20px' = title
  = render collection: line_items, partial: 'spree/shared/mailer_line_item', as: :line_item, locals: { shipment: shipment }

  - if (count = line_items.sum { |i| i.inventory_units.select(&:canceled?).length }) > 0
    p = t('emails.missing_not_on_backorder', count: count )
