.text-center
  a.text-muted.plain-link href=rate_shipment_url(shipment.order, shipment)
    = t('emails.select_rating')

  table.menu style='width: auto'
    tr
      td
        table
          tr
            th.menu-item style='padding: 20px'
              a.plain-link href=rate_shipment_url(shipment.order, shipment, rate: 'positive')
                p = image_tag 'email/positive.png', style: 'width: 55px'
                p.text-success.text-small.text-center Positive
            th.menu-item style='padding: 20px'
              a.plain-link href=rate_shipment_url(shipment.order, shipment, rate: 'neutral')
                p = image_tag 'email/neutral.png', style: 'width: 55px'
                p.text-warning.text-small.text-center Neutral
            th.menu-item style='padding: 20px'
              a.plain-link href=rate_shipment_url(shipment.order, shipment, rate: 'negative')
                p = image_tag 'email/negative.png', style: 'width: 55px'
                p.text-danger.text-small.text-center Negative

hr