hr style='margin:20px 0'

p.text-center.text-rewards.text-semibold
  | #{image_tag('icons/rewards-diamond.png', style: 'width:15px;max-width:15px;display:inline;vertical-align:middle')} You earned <b>#{number_to_currency(shipment.line_items.sum(&:rewards_amount))}</b> Buyer Rewards
