input.subtaxon-toggle id="subtaxons-#{taxon.id}" hidden=true type='checkbox' data-turbolinks-permanent=true
.subcategories id="subtaxons-list-#{taxon.id}" data-turbolinks-permanent=true
  ul
    li
      label.enabled-category.flex.start.menu-arrow-left for="subtaxons-#{taxon.id}" #{taxon.name}

    li
      = link_to ['All', taxon.name].join(' '), spree.products_path(taxon: taxon.id)

    li.divider role='separator'

    - if (taxons = Spree::Inventory::Searchers::TaxonSearcher.call(taxon)).any?
    - taxons.each do |st|
      li = link_to st.name, spree.nested_taxons_path(st.permalink)

      li.divider role='separator'
