li.dropdown.link-to-account.hidden-xs
  a.dropdown-toggle href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    div
      = image_tag 'icons/user.svg', alt: 'account'

    .name-rewards.ellipsis
      span = spree_current_user.display_name
      .text-rewards--bright.diamond-icon-left.condensed.semi-bold.text-small #{spree_current_user.rewards} Earned

  ul.dropdown-menu aria-labelledby="dLabel"
    li = link_to Spree.t(:your_account), spree.account_path

    li
      - if spree_current_user.admin? || spree_current_user.vendors.any?
        = link_to Spree.t(:dashboard), spree.admin_path, target: '_blank'
      - else
        = link_to t('menus.account.orders'), spree.account_path(tab: :orders)

    - if spree_current_user.admin?
      li.divider role="separator"
      li = link_to 'Pghero', '/pghero', target: '_blank'
      li = link_to 'Sidekiq', '/sidekiq', target: '_blank'

    li.divider role="separator"

    li = link_to Spree.t(:support), main_app.freshdesk_path, target: '_blank'
    li = link_to Spree.t(:logout), spree.logout_path, data: { turbolinks: false }
