- taxon ||= nil

= form_tag spree.products_path, method: :get, class: "navbar-search-form flex flex-1 #{'filled' if params[:keywords].present?}", id: 'navbar-keyword-form' do
  - cache([:v5, :navbar_taxons_dropdown, root_taxons, taxon])
    ul.dropdown-menu.no-margin.visible-scroll#taxon-dropdown aria-labelledby="taxon-menu"
      li
        a href="#" class=('checked' if taxon.blank?) data-taxon-id='' data-taxon-name=Spree.t(:all_products) = Spree.t(:all_products)

      - enabled_taxons.each do |t|
        li
          a class=(t == taxon ? 'checked': '') href="#" data-taxon-id=t.id data-taxon-name=t.name
            = t.name

      - disabled_taxons.each do |t|
        li.disabled
          a.btn.btn-link.disabled.link-muted disabled=true href="#"
            span = t.name
            span.label.label-success--inverse.label-bordered.label-no-bg.normal-font-weight COMING SOON

  .input-group-btn.taxon-group.hidden-xxs
    button.btn.btn-default.dropdown-toggle.ellipsis#taxon-menu type="button" data-target='#navbar-keyword-form' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
      span.name> = taxon&.name || Spree.t(:all_products)
      / input#navbar-taxon name='taxon' type='hidden' value=(@taxon&.id || taxon&.id)
      input#navbar-taxon name='taxon' type='hidden' value=(taxon&.id || @taxon&.id)

  .search-group.flex.flex-1
    = search_field_tag :keywords, params[:keywords], id: 'nav-keyword', autocomplete: 'off', placeholder: Spree.t(:search), class: "form-control"

  = button_tag '', name: nil, type: 'submit', class: 'btn btn-link btn-search'

  .keyword-suggestions.tt-empty

- content_for :bottom_scripts
  javascript:
    if (!isMobile()) {
      $('#taxon-dropdown li.disabled').popover({
        container: 'body',
        content: "#{t('menus.search.disabled')}",
        title: "#{t('menus.search.coming_soon')}",
        placement: 'right',
        trigger: 'hover'
      })
    }

    $( "#navbar-keyword-form" ).submit(function(event) {
      var taxonomy = $('#taxon-menu .name').text();
      var keywords = $('#nav-keyword').typeahead('val');
      window.pm.mixpanelTrack("product search", {
        "taxonomy": taxonomy,
        "keywords": keywords
      });

      return;
    });
