ul
  li
    = link_to spree_user_signed_in? ? spree.account_path : spree.login_path, class: "ellipsis link-to-account #{'link-to__sign-in' unless spree_user_signed_in?}"
      = image_tag 'icons/user.svg', alt: 'account'

      .flex.between.align-center.flex-1.vertical-middle.menu-arrow-right
        div
          span = spree_current_user&.display_name || Spree.t(:sign_in)

          .text-small
            span.text-muted> = t('menus.mobile-navbar-top.account')

            - if spree_user_signed_in?
              ' ∙
              span.text-rewards--bright.diamond-icon-left.condensed.semi-bold #{spree_current_user.rewards} Earned

  li.divider role='separator'
