.panel.panel-default
  .panel-heading
    h1.panel-title = Spree.t(:referral_program)

  .panel-body
    - if @object.referrer
      strong> Referrer:
      = link_to @object.referrer.email, edit_admin_user_url(@object.referrer)
    - else
      .alert.alert-info.no-objects-found
        = Spree.t(:no_resource_found, resource: 'referrer')

    hr

    - if @object.referees.any?
      h4 style='margin-top:0' Referees:

      table.table
        tbody
          - @object.referees.each do |referee|
            tr
              td = link_to referee.email, edit_admin_user_url(referee)
    - else
      .alert.alert-info.no-objects-found
        = Spree.t(:no_resource_found, resource: 'referees')
