- if order.line_item_adjustments.exists?
  - if order.all_adjustments.promotion.eligible.exists?
    - order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments|
      tr
        th.large-10.columns.letter-space-05 style='padding-bottom:10px'
          = Spree.t(:promotion)
          = label
        th.large-2.columns.text-right style='padding-bottom:10px'
          = Spree::Money.new(adjustments.sum(&:amount), currency: order.currency)
