- rewards ||= order.rewards_amount
tr
  th.large-10.columns.text-bold.text-rewards.letter-space-05.upcase = t('orders.buyer_rewards')
  th.large-2.columns.text-right.text-semibold.text-rewards.nowrap
    => image_tag('icons/rewards-diamond.png', style: 'width:15px;max-width:15px;display:inline;vertical-align:middle')
    = rewards
