- total ||= order.ship_total
tr
  th.large-10.columns.letter-space-05 style='padding-bottom:10px' SHIPPING
  th.large-2.columns.text-right style='padding-bottom:10px' = total > 0 ? number_to_currency(total) : 'FREE'
