- subtotal ||= order.item_total
tr
  th.large-10.columns.letter-space-05 style='padding-bottom:10px' SUBTOTAL
  th.large-2.columns.text-right style='padding-bottom:10px' = number_to_currency(subtotal)
