- if order.all_adjustments.eligible.tax.exists?
  - order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments|
    tr
      th.large-10.columns.letter-space-05 style='padding-bottom:10px'
        = Spree.t(:tax)
        = label
      th.large-2.columns.text-right style='padding-bottom:10px'
        = Spree::Money.new(adjustments.sum(&:amount), currency: order.currency)
