- shipments = orders.map(&:shipments).flatten

- if shipments.present?
  h3.text-bold = t('orders.yesterday').upcase

  - shipments.group_by(&:vendor).each do |vendor, shipments|
    p You’ve ordered #{shipments.size > 1 ? 'these items' : 'this item'} from <span class='text-semibold'>#{vendor.name}</span>:
    - shipments.each do |shipment|
      br
      = render collection: shipment.line_items, partial: 'spree/shared/mailer_line_item', as: :line_item, locals: { shipment: shipment }

  hr style='margin-top:0;margin-bottom:16px'

  table.row
    tbody
      tr
        th.large-offset-4.large-8.small-12.columns
          table.row
            tbody
              = render 'spree/order_mailer/subtotal', subtotal: orders.map(&:item_total).sum

              = render 'spree/order_mailer/shipment_info', total: orders.map(&:shipment_total).sum

              = render 'spree/order_mailer/total', total: orders.map(&:total).sum

          hr style='margin-top:0;margin-bottom:16px'

          table.row
            tbody
              tr
                th.large-10.columns.text-bold.text-rewards.letter-space-05.upcase = t('orders.buyer_rewards')
                th.large-2.columns.text-right.text-semibold.text-rewards.nowrap
                  => image_tag('icons/rewards-diamond.png', style: 'width:15px;max-width:15px;display:inline;vertical-align:middle')
                  = number_to_currency(orders.map(&:rewards_amount).sum)

              tr
                th.large-10.columns.text-bold.text-rewards.letter-space-05.upcase DAILY HOLIDAY BONUS
                th.large-2.columns.text-right.text-semibold.text-rewards.nowrap
                  ' +
                  => image_tag('icons/rewards-diamond.png', style: 'width:15px;max-width:15px;display:inline;vertical-align:middle')
                  = number_to_currency(rewards)

          table.row
            tbody
              tr
                th.small-12.columns
                  table.button.expanded
                    tr
                      td
                        table
                          tr
                            td
                              center
                                a href=account_url(tab: :orders) = t('emails.view_order_history')
                      td.expander
