h3.text-bold = t('orders.summary').upcase

- order.shipments.each do |shipment|
  ruby:
    vendor = shipment.vendor
    line_items = shipment.line_items

  p You’ve ordered #{line_items.size > 1 ? 'these items' : 'this item'} from <span class='text-semibold'>#{vendor.name}</span>:

  br

  = render collection: line_items, partial: 'spree/shared/mailer_line_item', as: :line_item, locals: { shipment: shipment }

hr style='margin-top:0;margin-bottom:16px'

table.row
  tbody
    tr
      th.large-offset-4.large-8.small-12.columns
        table.row
          tbody
            = render 'spree/order_mailer/subtotal', order: order

            = render 'spree/order_mailer/shipment_info', order: order

            = render 'spree/order_mailer/promotions_info', order: order

            = render 'spree/order_mailer/taxes_info', order: order

            - order.adjustments.eligible.each do |adjustment|
              - next if (adjustment.source_type == 'Spree::TaxRate') || (adjustment.amount == 0)
              = render 'spree/order_mailer/adjustment', adjustment: adjustment

            = render 'spree/order_mailer/total', order: order

        hr style='margin-top:0;margin-bottom:16px'

        table.row
          tbody
            = render 'spree/order_mailer/rewards_total', order: order

        table.row
          tbody
            tr
              th.small-12.columns
                table.button.expanded
                  tr
                    td
                      table
                        tr
                          td
                            center
                              a href=order_url(order) = t('emails.view_order')
                    td.expander
