
- order.shipments.each do |shipment|
  ruby:
    vendor = shipment.vendor
    line_items = shipment.line_items

  p
    span.text-semibold> = order.user.full_name_or_email
    ' ordered #{line_items.size > 1 ? 'these items' : 'this item'} from you on
    span.text-semibold #{l(order.completed_at.to_date)}:

  br

  = render collection: line_items, partial: 'spree/shared/mailer_line_item', as: :line_item, locals: { shipment: shipment }

hr style='margin-top:0;margin-bottom:16px'

table.row
  tbody
    tr
      th.large-6.small-12.columns
        .text-muted.letter-space-05 style='padding-bottom:10px' SHIPPING ADDRESS
        span style='line-height:1.71'
          = order.user.full_name_or_email
          br
          = render 'spree/addresses/address_inner', address: order.ship_address
          br
          = order.ship_address.phone
      th.large-6.small-12.columns
        table.row
          tbody
            = render 'spree/order_mailer/subtotal', order: order

            = render 'spree/order_mailer/shipment_info', order: order

            = render 'spree/order_mailer/total', order: order

        hr style='margin-top:0;margin-bottom:16px'

        table.row
          tbody
            = render 'spree/order_mailer/rewards_total', rewards: number_to_currency(order.rewards_amount)

        table.row
          tbody
            tr
              th.small-12.columns
                table.button.expanded
                  tr
                    td
                      table
                        tr
                          td
                            center
                              a href=edit_admin_order_url(order) = t('emails.manage_order')
                    td.expander
