= simple_form_for review, url: review.new_record? ? product_reviews_path(product) : product_review_path(product, review), remote: true, wrapper: :vertical_without_valid, html: { id: 'product-review-form' } do |f|
  center.form-group
    | #{Spree.t(:overall_rating)}:
    br
    = render partial: 'spree/shared/rating', locals: { rating: review.rating }
    .text-danger#product-rating-error style='display:none' = Spree.t(:review_rating_error)

  br

  = f.input :title, label_html: { class: 'text-black upcase' }, required: true
    = f.input_field :title, as: :string, maxlength: 60, class: 'form-control'

    .character-counter.margin-text-top
      span.current>
      ' /
      span.max<

  = f.input :review, label_html: { class: 'text-black upcase' }, required: false
    = f.input_field :review, maxlength: 400, rows: 3, style: 'resize:vertical', class: 'form-control'

    .character-counter.margin-text-top
      span.current>
      ' /
      span.max<

  .form-actions
    = f.submit Spree.t(:submit_your_review), class: 'btn btn-primary btn-block'

- content_for :bottom_scripts
  javascript:
    Spree.enableCharacterCounters()
