
- content_for :page_title do
  = plural_resource_name(Spree::UserReward)

/ - if can?(:create, Spree::UserReward)
  - content_for :page_actions do
    = button_link_to Spree.t(:new_reward), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_reward_collection_link'

- content_for :table_filter do
  = search_form_for [:admin, @search] do |f|
    .row
      .col-xs-12.col-md-2
        .form-group
          = f.label :date_gteq, Spree.t(:date_from)
          = f.text_field :date_gteq, class: "datepicker datepicker-from form-control js-filterable"
      .col-xs-12.col-md-2
        .form-group
          = f.label :date_lteq, Spree.t(:date_to)
          = f.text_field :date_lteq, class: "datepicker datepicker-from form-control js-filterable"
      .col-xs-12.col-md-4
        .form-group
          = f.label :user_email_cont, Spree.t(:email)
          = f.text_field :user_email_cont, class: "form-control"

    .form-actions
      button.btn.btn-primary> name='button'
        span.icon.icon-search
        | Search
      button.btn.btn-success name='button' value='export'
        span.icon.icon-export
        | Export

- if @collection.any?
  table.table
    thead
      tr
        th = Spree.t(:date)
        th = Spree.t(:kind)
        th = Spree.t(:user)
        th = Spree.t(:paid_amount)
        th = Spree.t(:amount)
        th = Spree.t(:referees_amount)
        th = Spree.t(:referees_count)

        th.actions
    tbody
      - @collection.each do |reward|
        tr id=spree_dom_id(reward)
          td = reward.date
          td = reward.kind
          td = link_to(reward.user.display_name, spree.admin_user_path(id: reward.user_id))
          td = number_to_currency(reward.paid_amount)
          td = number_to_currency(reward.amount)
          td = number_to_currency(reward.referees_amount)
          td = reward.referees_count
          td.actions.actions-2.text-right
- else
  .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::UserReward))
    / ' ,
    / = link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Lead)

= paginate @collection
