- unless @update_modal_rendered
  = render 'spree/ratings/update_rating_modal'
  - @update_modal_rendered = true

= render layout: 'spree/users/account_template'
  .order-page
    = render partial: 'spree/shared/account_breadcrumbs', locals: { items: [link_to('Order History', '/account/orders'), "Order # #{@order.number}"] }

    h3.upcase.no-margin-top.margin-text-bottom Order # #{@order.number}

    .panel.panel-default.history-order-panel
      .panel-heading
        = render partial: 'spree/orders/history_order_header', locals: { order: @order, hide_number: true }

      .panel-body
        - @order.shipments.each do |shipment|
          = render partial: 'spree/orders/order_content', locals: { order: @order, shipment: shipment }

          br
          br

        .margin-text-bottom
          strong.upcase.text-enlarge = t('orders.summary')

        = render partial: 'spree/shared/order_total', locals: { order: @order }

    .row.condensed
      - if @order.has_step?("address")
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-body
              h5.upcase.no-margin-top = Spree.t(:billing_address)
              = render 'spree/shared/address', address: @order.bill_address

      - if @order.has_step?("delivery")
        .col-xs-12.col-sm-6
          .panel.panel-default
            .panel-body
              h5.upcase.no-margin-top = Spree.t(:shipping_address)
              = render 'spree/shared/address', address: @order.ship_address

      - if @order.has_step?("payment")
        .col-xs-12
          .panel.panel-default
            .panel-body
              h5.upcase.no-margin-top = Spree.t(:payment_information)
              .payment-info
                = render collection: @order.payments.valid, partial: 'spree/shared/payment'

    .text-center.text-muted
      span> = t('users.orders-history.need-help')
      = link_to t('users.orders-history.request-support'), main_app.freshdesk_url, target: '_blank'

    hr.margin-text-bottom

    = render 'shared/disclaimer', anchor: false
