ruby:
  order ||= nil
  hide_number ||= false

.flex.between
  - unless hide_number
    .margin-text-right
      .text-uppercase = t('users.orders-history.order')
      = link_to order.number, order_url(order)

  .margin-text-right
    .text-uppercase == t('users.orders-history.placed')
    = l(order.completed_at.to_date)

  .margin-text-right
    .text-uppercase == t('users.orders-history.rewards')
    .text-rewards.diamond-icon-left.semi-bold = order.rewards_amount

  div
    .text-uppercase = t('users.orders-history.total')
    .semi-bold = order.display_total
