ruby:
  variant = line_item.variant
  shipment ||= nil
  units = line_item.inventory_units.to_a

.flex.line-item-history class=('line-item-history--canceled' if units.all?(&:canceled?))
  = link_to product_path(variant.product, var: variant.hash_id), class: 'margin-text-right'
    = image_tag product_image_or_default(variant.product, :small), class: 'img-responsive'

  .row.flex-1
    .col-xs-12.col-sm-8.no-margin-bottom
      .semi-bold = line_item.name
      .text-muted = variant_option_qty(variant, line_item.quantity, order: true)

      - if line_item.quantity > 0 && units.any?(&:canceled?)
        .text-danger #{units.select(&:shipped?).length} Shipped / #{units.select(&:canceled?).length} Canceled

    .col-xs-12.col-sm-4.no-margin-bottom.text-right.text-left-xs
      span.text-black.semi-bold> = line_item.single_money.to_html
      br.hidden-xxs
      - if shipment && !shipment.shipping_method.free?
        | + shipping

      .text-rewards.diamond-icon-left.semi-bold = line_item.rewards_amount
