ruby:
  variant = line_item.variant
  available_qty = variant.total_on_hand
  variant_quantity_max = [[available_qty, 50].min, line_item.quantity].max
  item_form ||= nil
  stock_state = stock_status(line_item.quantity, available_qty)
  out_of_stock = item_form && available_qty < line_item.quantity
  link_to_item = out_of_stock ? variant.product : product_path(variant.product, var: variant.hash_id)
  ship_method = variant.vendor.shipping_methods.first
  free_ship_method = ship_method.free?

.row.line-item
  - if out_of_stock
    .col-xs-12.cart_container--out-of-stock-hint
      .text-info.info-icon-left.semi-bold
        = t(stock_state, scope: 'orders.out_of_stock', requested: line_item.quantity, available: available_qty, count: line_item.quantity - available_qty)

  .col-xs-4.col-sm-1
    = link_to link_to_item
      = image_tag product_image_or_default(variant.product, :small), class: 'img-responsive'

  .col-xs-8.col-sm-11
    .row
      .col-xs-12.col-sm-5.no-margin
        = link_to line_item.name, link_to_item, class: 'semi-bold plain-link'

        - if item_form
          .margin-text-top
            = render partial: 'line_item_option', locals: { line_item: line_item, out_of_stock: out_of_stock }

      .col-xs-12.col-sm-3 class=(item_form ? '' : 'no-margin')
        span.semi-bold-xs= line_item.single_money.to_html
        - unless item_form
          .text-rewards == t('products.earn_rewards', rewards: line_item.single_rewards_amount)

      .col-xs-12.col-sm-2
        .row.condensed.flex.align-center
          .col-xs-6.col-sm-12
            - if item_form
              .select
                = item_form.select :quantity, options_for_select(1..variant_quantity_max, item_form.object.quantity), {}, class: "form-control line_item_quantity #{'out-of-stock-input' if out_of_stock}"
                = item_form.hidden_field :quantity, value: 0, id: "order_line_items_attributes_#{line_item.id}_hidden_quantity", class: 'hidden-line-item-quantity', disabled: true
            - else
              .visible-xs-inline.text-muted> = variant_option_qty(variant, line_item.quantity, order: true)
              .hidden-xs = line_item.quantity

          - if item_form
            .col-xs-3.col-sm-12
              a.delete href='#' id="delete_#{dom_id(line_item)}" style='font-size:12px' = t('orders.remove_item')

            .col-xs-12
              = render partial: 'spree/orders/low_stock_quantity', locals: { show: true, value: line_item.quantity, qty_left: available_qty }

      .col-xs-12.hidden-xs.col-sm-2.text-right
        .semi-bold = line_item.display_amount.to_html unless line_item.quantity.nil?
        - unless free_ship_method
          .text-small + shipping
        .text-rewards.diamond-icon-left == t('products.total_rewards', rewards: line_item.rewards_amount)
hr
