ruby:
  variant = line_item.variant
  available_qty ||= variant.total_on_hand
  out_of_stock ||= available_qty < line_item.quantity

small.text-muted class=('strike' if out_of_stock) = variant_option_qty(variant, line_item.quantity)

- if available_qty < line_item.quantity
  - variant_with_stock = other_variants_in_stock(variant, line_item.quantity, available_qty)

  span.margin-text-left
    - if available_qty == 0
      span.text-small.buy-box--quantity-left.text-danger Out of Stock
    - else
      = render partial: 'spree/orders/low_stock_quantity', locals: { show: true, value: line_item.quantity, qty_left: available_qty, hide_available: true }

  - if variant_with_stock
    .margin-text-top
      = link_to t('products.find_other_vendor'), product_path(variant.product, var: variant_with_stock.hash_id), class: 'btn btn-sm btn-wide btn-white', data: { turbolinks: false }
