- unless @update_modal_rendered
  = render 'spree/ratings/update_rating_modal'
  - @update_modal_rendered = true

- order.shipments.each do |shipment|
  .panel.panel-default
    .panel-heading
      = render partial: 'spree/orders/history_order_header', locals: { order: order }

    .panel-body
      = render partial: 'spree/orders/order_content', locals: { order: order, shipment: shipment }
