p
  span.pull-right.semi-bold = l (shipment.shipped_at || shipment.updated_at).to_date
  strong #{Spree.t(:shipment_status)}: #{Spree.t("shipment_states.#{shipment.state}").titleize}

  - if (tracking_number = shipment.tracking)
    br
    span Tracking #: #{shipment.tracking_url ? link_to(tracking_number, shipment.tracking_url, rel: 'noopener', target: '_blank') : tracking_number}

= render partial: 'spree/orders/line_item_history', collection: shipment.line_items, as: :line_item, locals: { shipped: shipment.shipped?, shipment: shipment }

.text-muted
  span.margin-text-right
    = t('users.orders-history.sold-by')
    '
    = shipment.vendor.name
  span = vendor_reputation_text(shipment.vendor, format: :text)
  br
  span
    = t('users.orders-history.your-rating')
    span.semi-bold< == rating_html(shipment)
br

.flex.center.gapped.items-12-xs.items-3-sm.wrap-xs
  - unless @order
    a.btn.btn-sm.btn-block.btn-white href=order_url(order) = t('users.orders-history.view-order')

  - if (can_rate = can_rate?(shipment))
    - if cached_rating(shipment)
        button.btn.btn-sm.btn-block.btn-white data-toggle='modal' data-target='#update-rating-modal' data-url=rate_shipment_path(order, shipment) = t('users.orders-history.update-rating')
    - else
        a.btn.btn-sm.btn-block.btn-white href=rate_shipment_path(order, shipment) = t('users.orders-history.rate-merchant')

  = link_to 'Get Help', main_app.freshdesk_url, target: '_blank', class: 'btn btn-sm btn-block btn-white'
