.modal.modal-wide-paddings.modal-vertical-center.fade.out-of-stock-modal#out-of-stock-modal tabindex='-1' role='dialog'
  .modal-dialog
    .modal-content
      .modal-header
        button type='button' class='close' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times;

        h5.upcase.modal-title.text-black = Spree.t(:out_of_stock)

      .modal-body
        .cross-icon-left.text-danger.out-of-stock-modal--hint
          = t(items.many? ? :multiple : :single, scope: 'orders.out_of_stock.modal.hint')

        .out-of-stock-modal--line-items
          - items.each do |item|
            = render partial: 'spree/orders/short_line_item', locals: { line_item: item }

        button.btn.btn-default.btn-block#remove-out-of-stock data-dismiss='modal' aria-label='Close' = t('orders.remove_continue', count: items.sum(&:quantity))
