ruby:
  product = line_item.variant.product

.short-line-item
  = link_to product
    = image_tag product_image_or_default(product, :small), class: 'img-responsive'

  div
    .margin-text-bottom = link_to line_item.name, product, class: 'plain-link'

    .margin-text-bottom
      = render partial: 'line_item_option', locals: { line_item: line_item }
