= render partial: 'shared/facebook_scripts'
= render partial: 'shared/twitter_scripts'

- content_for :bottom_scripts
  javascript:
    $('.fbk-btn').click(function() {
      window.pm.shareOnFb("#{user_referral_link}", "#{t('orders.sharing_text')}")
    })

    $('.twi-btn').click(function() {
      window.pm.shareOnTwitter("#{user_referral_link}", "#{t('orders.sharing_text')}")
    })

.text-center
  = image_tag 'icons/order-complete.svg'

  h2.text-black = accurate_title
  br
  p = Spree.t(:order_processed_successfully)
  br

  h4.text-rewards.text-roboto.diamond-icon-left.semi-bold == t('products.earned_rewards', rewards: order.rewards_amount)
  h4.text-rewards.alert.alert-rewards.flex-inline.align-center
    == t('orders.in_est_daily_rewards', amount: number_to_currency(estimate_daily_rewards(order.total)))

  .margin-top-text.text-medium == Spree.t(:learn_about_ptrn)

  .more-rewards-container
    h5 = t('orders.successful_order.more_rewards.title')
    p == t('orders.successful_order.more_rewards.body')

    section.text-left.account-summary--referral-link
      .text-muted.upcase.margin-text-bottom = t('users.account-page.referral-link')

      .input-group#ref-link-input-group
        = text_field_tag nil, user_referral_link, readonly: true, class: 'form-control'
        .input-group-btn
          button.btn.btn-primary type='button' Copy

      small.hide.text-success = t('users.account-page.referral-link-copied')

  .flex.buttons-section
    button.btn.fbk-btn.brand-icon.flex-1.margin-text-right
    button.btn.twi-btn.brand-icon.flex-1
