- @body_id = 'cart'

.cart_container data-hook="cart_container"
  h3.upcase.text-center-xs = Spree.t(:shopping_cart)
  br

  = render partial: 'form'

br
- disclaimer = capture do
  = render 'shared/disclaimer', anchor: true

- [{ icon: 'buyer-rewards.svg', locale_key: 'buyer_rewards', opts: { disclaimer: disclaimer } },
  { icon: 'free-shipping.svg', locale_key: 'free_shipping' },
  { icon: 'easy-returns.svg', locale_key: 'easy_returns' }].each do |i|
  .panel.panel-default.no-border
    .panel-body.text-center-xs
      .row.flex.align-center
        .col-xs-12.col-sm-1.text-right.text-center-xs
          = image_tag('icons/' + i[:icon])
        .col-xs-12.col-sm-11
          .col-xs-12
            h4.upcase= t('orders.' + i[:locale_key])
            p == t("orders.#{i[:locale_key]}_desc", i[:opts] || {})

hr.blue-divider style='margin-top: 80px'
.disclaimer-block = content_for :disclaimer

javascript:
  Spree.current_order_id = "#{@order.number}"
  Spree.current_order_token = "#{@order.token}"
