- if (variants = product_variants).present?
  .additional-buy-box
    h4.text-black = t('additional_buy_box.title')

    = form_for :order, url: populate_orders_path, remote: true, html: { id: 'additional-buy-box' } do |f|
      = hidden_field_tag :quantity, 1

      - variants.each do |o, vars|
        ruby:
          v = vars[0]
          vendor = v.vendor
          ship_method = v.vendor.shipping_methods.first
          free_ship_method = ship_method.free?
          ship_calculator = ship_method.calculator

        .hide = radio_button_tag 'variant_id', v.id, false, id: "additional_bb_variant_id_#{v.id}"

        .panel.panel-default
          .panel-body.flex.column
            .flex.between.wrap.flex-grow-1
              .ellipsis.flex-1
                div
                  span.lead.text-dark-danger.text-bold.margin-text-right> #{v.price_in(current_currency).money}
                  strong.text-big = o

                == shipping_method_title(ship_method, price: fake_package_price(ship_calculator, v), show_method_name: false)

                .text-rewards.diamond-icon-left.condensed == t('products.earn_rewards_short', rewards: v.rewards_amount)

              .buttons-wrapper
                = f.button class: 'btn btn-primary btn-block', type: 'submit', value: 'add-to-cart'
                  label.no-margin
                    .hide = radio_button_tag 'variant_id', v.id, false, id: "additional_bb_variant_id_#{v.id}"
                    = Spree.t(:add_to_cart)

                = link_to 'View', product_path(v.product, var: v.hash_id), class: 'btn btn-white btn-block margin-text-top'

            span
              ' Ships and sold by
              | #{link_to(vendor.name, vendor_path(vendor), target: '_blank')}

            .text-muted = vendor_reputation_text(vendor, format: :text)

    = link_to t('additional_buy_box.link_to_more'), similar_variants_path(id: @product.slug)
