ruby:
  quantity_available = [[quantity_left(variant), 50].min, 1].max
  in_stock = variant.in_stock?
  ship_method = variant.vendor.shipping_methods.first
  free_ship_method = ship_method.free?
  ship_calculator = ship_method.calculator
  variant_ship_price = fake_package_price(ship_calculator, variant)

- content_for :bottom_scripts
  javascript:
    $(document).on('turbolinks:load', function() {
      initializeProductPage("#{ship_calculator.to_s}", #{ship_calculator.preferences.transform_values(&:to_f).to_json.html_safe})
    })

.panel.no-border.buy-box
  .panel-body
    = form_for :order, url: populate_orders_path, remote: true, html: { itemprop: 'offers', itemtype: 'https://schema.org/Offer', id: 'buy-box' } do |f|
      = hidden_field_tag :variant_id, variant.id, id: "variant_id_#{variant.id}"

      .flex.between.buy-box--head
        h4.no-margin Buy #{variant.main_option_value == 'Default' ? 'Now' : variant.main_option_value}

        .text-right
          strong.price.text-black = variant.price_in(current_currency).money

          br

          - unless free_ship_method
            | + #{variant_ship_price} shipping

      br

      .flex.between
        = f.field_container :quantity, class: ['form-group no-margin'] do
          = f.label :quantity, 'QTY', class: 'no-margin-bottom margin-text-right'

          .flex-inline.column
            .select class=('disabled' unless in_stock)
              = select_tag :quantity, options_for_select(1..quantity_available), class: 'form-control buy-box--quantity-select', disabled: !in_stock

            - if in_stock
              span.buy-box--quantity-left.text-info class=('hide' if quantity_available >= 10)
                ' Only
                span.buy-box--quantity-left--value> #{quantity_available}
                | left!

        .text-right.diamond-icon-left.icon-lg.buy-box--rewards
          - rewards = variant.rewards_amount
          span.text-left
            == t('products.earn_rewards_buy_box', rewards: variant.rewards_amount, percentage: number_to_percentage((rewards / variant.price) * 100, precision: 0))
            = render 'shared/disclaimer', anchor: true

      br

      .buy-box--stock-status-ship
        - if in_stock
          .text-success.text-big = Spree.t(:in_stock)
        - else
          .text-danger.text-big = Spree.t(:out_of_stock)

        == shipping_method_title(ship_method, price: variant_ship_price, with_eta: false)

      .text-muted = t('products.arrives_in', from: ship_method.eta_from, to: ship_method.eta_to)

      br

      .alert.alert-rewards.buy-box--rewards.flex.align-center
        = image_tag 'icons/calendar-check.svg', width: 25
        span style='margin-left: 15px'
          == t('products.est_daily_rewards', rewards: number_to_currency(estimate_daily_rewards(variant.price)))
          span.info-icon-right.condensed.outlined.daily-rewards-hint-trigger.hover-popover data-placement='left'

      br

      = button_tag Spree.t(:add_to_cart), class: 'btn btn-primary btn-block', id: 'add-to-cart-button', disabled: !in_stock, value: 'add-to-cart', type: :submit, data: { disable_with: Spree.t(:add_to_cart) }

      = button_tag Spree.t(:buy_now), class: 'btn btn-default btn-block', id: 'buy-now-button', disabled: !in_stock, type: :submit, data: { disable_with: Spree.t(:buy_now) }

      br

      .text-center
        = t('products.sold_by')
        '
        a href=vendor_path(variant.vendor) target='_blank' = variant.vendor.name
        br
        .text-muted
          = vendor_reputation_text(variant.vendor, format: :text)
