ruby:
  taxon ||= nil
  card_size ||= product_card_size(@card_size)
  max_mobile ||= max_mobile
  max_tablet ||= max_tablet
  index = local_assigns[:product_counter] || 0
  url = spree.product_path(product, taxon_id: (taxon&.id unless taxon&.root?), merchant: @vendor&.slug)

.product-card id="product_#{product.id}" class="#{card_size} #{'hidden-xxs' if max_mobile && index >= max_mobile} #{'hidden-xs hidden-sm' if max_tablet && index >= max_tablet}" itemscope=true itemtype="https://schema.org/Product"
  .product-card--inner
    = link_to url, itemprop: 'url', class: 'plain-link'
      - cache(cache_key_for_product(product, v: 5, section: :card)) do
        .product-card--image.lozad itemprop='image' data-background-image=product_image_or_default(product, :large)

        .text-left itemprop='offers' itemscope=true itemtype='https://schema.org/Offer'
          .product-card--title = truncate(product.name, length: 100)
          .small.ellipsis
            ' by
            = product.subtitle_presentation

          .product-card--price itemprop='price'
            .ellipsis.text-muted
              span.semi-bold.price> #{display_price(product)}
              - if (product_variation = card_variation(product)).present?
                span style='margin-left: 5px' = product_variation
            .diamond-icon-left.text-rewards.ellipsis == t('products.earn_rewards_card', rewards: product.rewards_amount)

    .alert.alert-rewards.flex.align-center
      small.text-rewards.ellipsis == t('products.daily_rewards', rewards: number_to_currency(estimate_daily_rewards(product.price)))
      small.info-icon-right.condensed.outlined.daily-rewards-hint-trigger.hover-popover
