.modal.modal-wide-paddings.modal-form.modal-vertical-center.fade#product-review-modal tabindex='-1' role='dialog'
  .modal-dialog
    .modal-content
      .modal-body
        button type='button' class='close' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times;

        h4.upcase.modal-title.text-black.text-center = Spree.t(:write_review)

        br

        = render partial: 'spree/reviews/form', locals: { product: @product, review: @review }

= button_tag Spree.t(:write_review), class: 'btn btn-white btn-block', data: { toggle: 'modal', target: '#product-review-modal' }
