ruby:
  total_images_size ||= 0
  more_img = total_images_size - product_thumb_limit

ul#product-thumbnails.list-inline.flex.align-center
  - @product.images.each_with_index do |i, idx|
    li class="#{'thumb-selected' if idx.zero?} #{'hide' if idx > product_thumb_limit - 1}"
      = link_to i.url(:large), data: { fancybox: 'gallery', 'fancybox-index' => idx,  turbolinks: false, 'more-img' => (idx == product_thumb_limit - 1) && more_img > 0 ? more_img : nil }
        = image_tag(main_app.url_for(i.url(:mini)), class: "thumbnail")
