- content_for :head do
  = stylesheet_link_tag '@fancyapps/fancybox/dist/jquery.fancybox.css'
  = javascript_include_tag '@fancyapps/fancybox/dist/jquery.fancybox.js', async: true

ruby:
  @body_id = 'product-details'
  can_supply = @product.can_supply?

.row.condensed.product-grid data-hook='product_show' itemscope=true itemtype='https://schema.org/Product'
  .col-xs-12.col-md-3.product-images-item
    - cache(cache_key_for_product(@product, section: :product_sidebar, v: 1, device: device)) do
      div data-hook='product_left_part_wrap'
        #product-images data-hook='product_images'
          ruby:
            total_images_size = @product.images.size
            show_gallery = total_images_size > 1

          #main-image.panel.panel-default.no-margin-bottom data-hook=true
            .panel-body.text-center
              - first_image = @product.images.first&.url(:large)
              = link_to show_gallery ? 'javascript:;' : first_image, data: { (show_gallery ? 'fancybox-trigger' : 'fancybox') => ('gallery' if first_image), 'fancybox-index' => 0 }, style: "--aspect-ratio:#{first_image ? @product.image_aspect_ratio : 1}"
                = large_image(@product, itemprop: "image")

          - if show_gallery
            #thumbnails data-hook=true
              = render partial: 'thumbnails', locals: { total_images_size: total_images_size }

      - unless mobile_or_tablet?
        div style='margin-top:22px'
          = render partial: 'properties', locals: { show_title: true }

    - if spree_user_signed_in? && !mobile_or_tablet?
      div style='margin-top:22px'
        = render partial: 'spree/products/reviews'

  .col-xs-12.col-sm-5.col-md-5.product-title-item
    - if spree_user_signed_in? && spree_current_user.admin?
      a.pull-right.text-muted target='_blank' href=edit_admin_product_path Edit
    = render partial: 'spree/products/title'

  / NOT CACHED PART
  .col-xs-12.col-md-4.product-cart-item
    - if @buy_box_variant.present?
      = render partial: 'buy_box', locals: { variant: @buy_box_variant }
    - else
      .text-center.text-danger = Spree.t(:out_of_stock)

    - if can_supply
      = render partial: 'additional_buy_box'

  .col-xs-12.product-variations-item
    / NOT CACHED PART
    - if (variations = product_variations).present?
      section.product-variations
        - variations.each do |variation|
          = render partial: 'variation', locals: { variation: variation }

  - cache(cache_key_for_product(@product, v: 1, section: :description, mobile_or_tablet: mobile_or_tablet?)) do
    .col-xs-12.col-sm-12.product-content-item
      #main-accordion.accordion
        .product-description.card data-hook='product_description' itemprop='description'
          a.pull-right role='button' data-toggle='collapse' data-parent='#main-accordion' href="#details" aria-expanded='true' aria-controls='details'
          h6.upcase Product Details
          #details.collapse.in = product_description(@product)

        - if mobile_or_tablet?
          .card
            a.pull-right.collapsed role='button' data-toggle='collapse' data-parent='#main-accordion' href="#properties" aria-expanded='true' aria-controls='properties'
            h6.upcase Properties
            #properties.collapse
              = render partial: 'properties'

      - if product_kind_views_exists?(@product, :additional_notes)
        = render partial: "spree/products/additional_notes/#{@product.additional_product_kind_name}"

  - if spree_user_signed_in? && mobile_or_tablet?
    .col-xs-12.col-sm-5.product-review-btn-item
      = render partial: 'spree/products/reviews'

- cache(cache_key_for_product(@product, section: :similar_items, v: 7), expires_in: 1.hour)
  - if (similar_items = @product.products_by_subtitle).present?
    .product-similar-items
      h2.upcase.text-black = t(@product.product_kind_name, scope: 'products.similar_by_subtitle', subtitle: @product.subtitle_presentation, default: t('products.similar_by_subtitle.more_like_this'))
      hr
      .product-similar-items--inner
        .left.hidden-xxs
        .right.hidden-xxs

        .product-similar-items--scroller.flex
          = render partial: 'spree/products/product', collection: similar_items, locals: { card_size: 'product-similar-items--item' }

.disclaimer-block
  hr.blue-divider

  = content_for :disclaimer

javascript:
  $('.collapse').collapse({ toggle: false });

  window.pm.mixpanelTrack("product view", {
    "id": "#{@product.id}",
    "name": "#{@product.name}"
  })
