- unless content_for?(:disclaimer)
  - content_for :disclaimer do
    #disclaimer.anchor-link
    .text-xsmall.text-muted
      - if anchor
        sup
          ' [*]
      == t("disclaimer.#{request.path.delete_prefix('/').presence || 'default'}", default: t('disclaimer.default'))

- if anchor
  sup data-turbolinks="false" = link_to '[*]', '#disclaimer'
- else
  = content_for :disclaimer