= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=#{Rails.application.credentials.gtm}", async: true

javascript:
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }

  document.addEventListener('turbolinks:load', function(event) {
    if (typeof gtag === 'function') {
      gtag('js', new Date())
      gtag('config', "#{Rails.application.credentials.gtm}", {
        'page_location': event.data.url
      })
    }
  })
