= javascript_include_tag 'raven-js/dist/raven.js'

javascript:
  Raven.config("#{Rails.application.credentials.sentry_public_dsn}", {
    environment: "#{Rails.env}"
  }).install()

  Raven.setUserContext({ user_id: "#{spree_current_user&.id}" })
