ruby:
  @sidebar_class = 'hidden-sm hidden-xs'
  @sidebar_taxons ||= child_taxons(@taxon)
  @content_class = "col-sm-12 #{'col-md-9' if @sidebar_taxons.present?}"
  hide_products = show_taxon_previews?

- content_for :under_breadcrumbs
  .col-md-12.root-taxon-title
    h1.upcase.text-black = @taxon.name

    - if @taxon.root?
      .hidden-xs
        hr.no-margin-top

        p.taxon-description = @taxon.description

  - unless hide_products
    .col-md-12
      = render partial: 'spree/search/filters'

- if @sidebar_taxons.present?
  - content_for :sidebar do
    - cache([:v4, :taxonomy_sidebar, @taxon]) do
      = render partial: 'spree/shared/taxonomy', locals: { taxons: @sidebar_taxons, taxonomy: @taxon.taxonomy }

  / - if @taxon.root.permalink == 'books'
  /   = render partial: 'spree/taxons/special'

- if hide_products
  - taxons = Kaminari.paginate_array(taxons_preview(@taxon)).page(params[:page]).per(10)
  = render partial: 'spree/taxons/taxon', collection: taxons

  = paginate taxons, pagination_class: 'infinite', window: 2

- else
  = render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon, show_results_per_page: true }

hr.blue-divider style='margin-top: 80px'
.disclaimer-block = render 'shared/disclaimer', anchor: false

- content_for :bottom_scripts
  javascript:
    window.pm.mixpanelTrack('Taxon Page View', {
      "id": "#{@taxon.id}",
      "name": "#{@taxon.name}",
      "category": "#{@taxon.permalink}"
    })
