.alert-dismissible
  .close
    font-weight: 400
    line-height: 14px
    opacity: 1
    top: 0
    right: 0

  @media (max-width: $screen-xs)
    padding-right: 15px

    .close
      right: auto

@media (max-width: $screen-sm-max)
  #spree-header
    &.affix-top + .alert.affix-top
      top: 128px

    &.affix
      & + .alert.affix-top, & + .alert.affix
        top: 58px

.alert
  &.alert-rewards
    background-color: rgba($cryptoberry-color, 0.05)

  &.alert-top
    margin-bottom: 0
    z-index: 999
    padding: 15px 10px 15px 0

    .container-fluid
      max-width: 1410px

    &.alert-top-sticky
      position: absolute
      width: 100%
      // fix alerts under navbar on small screens
      @media (max-width: $screen-sm-max)
        position: fixed

      &.affix
        position: fixed
        // fix top position on large screens
        @media (min-width: $screen-md)
          top: 0

    &.fade.slide-down
      opacity: 1 // override default bootstrap fade effect
      transition-property: transform
      transition-duration: .2s
      transform: translateY(-100%)
      will-change: transform
      &.in
        transform: translateY(0)

  &.alert-gray
    background-color: #8e8e8e

.alert-added-to-cart
  font-size: 14px
  font-weight: 500
  line-height: 16px

  .btn
    padding: 8px 15px
    text-transform: none

    @media (max-width: $screen-xs)
      padding: 8px 10px

  .check-left
    margin-right: 20px

  .or-text
    margin: 0 15px

  @media (max-width: $screen-xs)
    .margin-text-bottom-xs
      width: 100%

.alert-confirm-email
  font-size: 14px

  .btn
    padding: 4px 25px
    text-transform: none

.announcement-bar
  background-color: $brand-primary
  padding: 12px 15px
  position: relative
  z-index: 1000

  @media (max-width: $screen-xs)
    padding: 15px

#cookies-alert
  .container-fluid
    max-width: 1111px
