button, .btn
  font-size: 14px
  letter-spacing: 0.4px
  padding: 16px 18px
  text-transform: uppercase

  &:focus, &:active, &:focus:active
    outline: none
    box-shadow: none

  &.btn-sm
    padding: 8px 9px
    text-transform: none

button[data-toggle="dropdown"]
  font-size: $font-size-base
  text-transform: none

.btn.btn-link
  border: none
  font-size: $font-size-base
  text-transform: initial
  text-align: unset

.btn-primary
  &:hover
    background: rgba($btn-primary-bg, .9)
    border-color: rgba($btn-primary-bg, .9)
  &:focus, &:active, &:focus:active
    background: darken($btn-primary-bg, 5%)
    border-color: darken($btn-primary-bg, 5%)

.btn-default
  &:hover
    background: rgba($btn-default-bg, .9)
    border-color: rgba($btn-default-bg, .9)
  &:focus, &:active, &:focus:active
    background: darken($btn-default-bg, 15%)
    border-color: darken($btn-default-bg, 15%)

.btn-white
  background-color: white
  border-color: #dfdfdf
  color: #4A4F55
  letter-spacing: initial
  &:hover
    background-color: #F7F7F7
    color: #4A4F55
  &:focus, &:active, &:focus:active
    background-color: #F2F2F2
    color: #4A4F55

.btn-outlined
  background-color: transparent
  &-white
    border-color: #fff
    color: #fff

.btn-crypto
  background-color: $cryptoberry-color
  border-color: $cryptoberry-color
  color: #fff

  &:hover
    background: rgba( $cryptoberry-color, .9)
    border-color: rgba( $cryptoberry-color, .9)
  &:focus, &:active, &:focus:active
    background: darken( $cryptoberry-color, 15%)
    border-color: darken( $cryptoberry-color, 15%)

%social-btn
  font-weight: 500
  letter-spacing: 0.3px
  text-align: left

  &:before
    display: inline-block
    height: 24px
    vertical-align: middle

  span
    margin-left: 15px
    vertical-align: middle

// fbk-btn is in use to avoid blocking by adblock
.fbk-btn
  @extend %social-btn
  background-color: $facebook-color
  border-color: $facebook-color
  color: #fff

  &:before
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" viewBox="0 0 1792 1792"><path d="M1579 128q35 0 60 25t25 60v1366q0 35-25 60t-60 25h-391v-595h199l30-232h-229V689q0-56 23.5-84t91.5-28l122-1V369q-63-9-178-9-136 0-217.5 80T948 666v171H748v232h200v595H213q-35 0-60-25t-25-60V213q0-35 25-60t60-25h1366z"/></svg>')

  &:hover, &:focus, &:active
    background-color: darken($facebook-color, 10%)
    border-color: $facebook-color
    color: #fff

  &.brand-icon
    &:before
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" viewBox="0 0 24 24"><path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/></svg>')

// ggl-btn is in use to avoid blocking by adblock
.ggl-btn
  @extend %social-btn
  background-color: #fff
  border-color: $gray-lighter
  color: $gray

  &:before
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use overflow="visible" xlink:href="#a"/></clipPath><path fill="#FBBC05" d="M0 37V11l17 13z" clip-path="url(#b)"/><path fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" clip-path="url(#b)"/><path fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" clip-path="url(#b)"/><path fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" clip-path="url(#b)"/></svg>')

  &:hover, &:focus, &:active
    background-color: darken(#fff, 3%)
    color: $gray

.twi-btn
  @extend %social-btn
  background-color: $twitter-color
  border-color: $twitter-color
  color: #fff

  &:hover, &:focus, &:active
    background-color: darken($twitter-color, 10%)
    border-color: $twitter-color
    color: #fff

  &.brand-icon
    &:before
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg>')

.pagination
  &.infinite
    li.first, li.last
      display: none
    li.previous, li.next
      a:before
        content: ''
        border: #454a50 solid
        border-width: 0 1px 1px 0
        transform: rotate(135deg)
        display: inline-block
        width: 8px
        height: 8px
        margin: 0 0 2px 1px
        padding: 0
        vertical-align: middle
    li.next a:before
      transform: rotate(-45deg)
      margin: 0 1px 2px 0
    li.disabled a:before
      border-color: #dfdfdf
