// ROBOTO https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin,latin-ext

// roboto-300 - latin-ext_latin
@font-face
  font-family: 'Roboto'
  font-display: fallback
  font-style: normal
  font-weight: 300
  src: local("Roboto Light"), local("Roboto-Light"), font-url("roboto-v18-latin-ext_latin-300.woff2") format("woff2"), font-url("roboto-v18-latin-ext_latin-300.woff") format("woff")

// roboto-regular - latin-ext_latin
@font-face
  font-family: 'Roboto'
  font-display: fallback
  font-style: normal
  font-weight: 400
  src: local("Roboto"), local("Roboto-Regular"), font-url("roboto-v18-latin-ext_latin-regular.woff2") format("woff2"), font-url("roboto-v18-latin-ext_latin-regular.woff") format("woff")

// roboto-500 - latin-ext_latin
@font-face
  font-family: 'Roboto'
  font-display: fallback
  font-style: normal
  font-weight: 500
  src: local("Roboto Medium"), local("Roboto-Medium"), font-url('roboto-v18-latin-ext_latin-500.woff2') format("woff2"), font-url('roboto-v18-latin-ext_latin-500.woff') format("woff")

// roboto-700 - latin-ext_latin
@font-face
  font-family: 'Roboto'
  font-display: fallback
  font-style: normal
  font-weight: 700
  src: local("Roboto Bold"), local("Roboto-Bold"), font-url('roboto-v18-latin-ext_latin-700.woff2') format("woff2"), font-url('roboto-v18-latin-ext_latin-700.woff') format("woff")

// ROBOTO CONDESED https://google-webfonts-helper.herokuapp.com/fonts/roboto-condensed?subsets=latin,latin-ext

// roboto-condensed-regular - latin
@font-face
  font-family: 'Roboto Condensed'
  font-display: fallback
  font-style: normal
  font-weight: 400
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), font-url('roboto-condensed-v16-latin-ext_latin-regular.woff2') format('woff2'), font-url('roboto-condensed-v16-latin-ext_latin-regular.woff') format('woff')

// roboto-condensed-700 - latin
@font-face
  font-family: 'Roboto Condensed'
  font-display: fallback
  font-style: normal
  font-weight: 700
  src: font-url('roboto-condensed-v16-latin/roboto-condensed-v16-latin-700.eot')
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), font-url('roboto-condensed-v16-latin-ext_latin-700.woff2') format('woff2'), font-url('roboto-condensed-v16-latin-ext_latin-700.woff') format('woff')

// ROBOTO SLAB https://google-webfonts-helper.herokuapp.com/fonts/roboto-slab?subsets=latin,latin-ext

// roboto-slab-regular - latin-ext_latin
@font-face
  font-family: 'Roboto Slab'
  font-display: fallback
  font-style: normal
  font-weight: 400
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), font-url('roboto-slab-v7-latin-ext_latin-regular.woff2') format('woff2'), font-url('roboto-slab-v7-latin-ext_latin-regular.woff') format('woff')
