.form-control
  box-shadow: none

  &:focus
    box-shadow: none

  &.input-lg
    font-size: $font-size-base
    line-height: $line-height-base
    padding: 14px 20px

  &[disabled]
    border-color: rgba(223, 223, 223, 0.4)
    color: rgba(69, 74, 80, 0.4)

.form-group-valid
  input
    border-color: $brand-success

.form-group-invalid
  input
    border-color: $brand-danger

  .invalid-feedback
    color: $brand-danger
    font-size: 12px
    margin-top: 4px

.form-text
  font-size: 12px
  color: $text-color
  padding-left: 10px

.form-group.check_boxes
  .checkbox
    margin: 5px 0 !important

abbr[title='required']
  border: none
  text-decoration: none

textarea
  resize: vertical

.rich-dropdown
  button
    padding: 10px 16px
    background: #feffff
    text-align: left
    border: 1px solid $input-border
    font-weight: 500

    @include with-caret-after(20px, 5px, 6px)

  label
    font-weight: 500
    cursor: pointer
    margin: 0
    display: inline

  &--outline
    button
      transition: border .2s
      &:focus
        border: 1px solid $brand-primary

  .dropdown-menu
    width: 100%

    & > li > a:hover, & > li > a:focus
      .text-muted
        color: #fff

    .hide-in-dropdown
      display: none !important

    .dropdown-item
      label
        display: block
        font-weight: normal
        padding: 3px 20px
        transition: background-color .2s, color .2s

      label:hover, label:focus
        color: $dropdown-link-hover-color
        background-color: $dropdown-link-hover-bg

.radio label
  padding-left: 0

span + input[type="radio"]
  opacity: 1

input[type="radio"]
  opacity: 0

  & + span
    background: image-url('unchecked.svg') 0px center no-repeat
    padding-left: 25px
    transition: background .2s

  &:checked + span
    background: image-url('checked.svg') 0px center no-repeat
    font-weight: bold

.input-with-hint
  position: relative

  input
    &::placeholder
      color: transparent

    & + label
      color: $text-muted
      font-weight: normal
      margin: 0
      pointer-events: none
      position: absolute
      transition: transform .25s
      will-change: transform

    &:focus, &[value]
      & + label
        transform: translate(-12%, -0.7em) scale(.75, .75)

    &:focus
      & + label
        color: $brand-primary

    &.input-lg
      padding-bottom: 6px

      & + label
        top: 1em
        left: 21px

  .feedback-hint, .invalid-feedback
    padding-left: 10px

.select
  position: relative
  align-items: center

  &.inline
    display: inline-block

  select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    cursor: pointer
    padding: 12px 18px

    &::-ms-expand
      display: none

  &.disabled:after
    border-color: rgba(69, 74, 80, 0.4)

  &:after
    content: ''
    top: 0
    bottom: 1px
    margin: auto 0
    right: 1em
    position: absolute
    pointer-events: none
    border: #454a50 solid
    border-width: 0 1px 1px 0
    transform: scale(0.85, 1) rotate(45deg)
    width: 9px
    height: 9px

.with-error-hint
  & > span
    display: none

  &.has-error > span
    display: inline-block

.intl-tel-input
  width: 100%

  .selected-flag:focus
    outline: none

  .country-list .country
    transition: background-color .2s, color .2s
    .dial-code
      transition: color .2s

    &.highlight
      color: $dropdown-link-hover-color
      background-color: $dropdown-link-hover-bg !important

      .dial-code
        color: darken($dropdown-link-hover-color, 5%)

.checkbox.disabled
  color: $text-muted

  label:hover
    color: $text-muted !important
    background-color: inherit !important

.checkbox.checkbox-right, .radio.radio-right
  margin: 0

// custom checkbox/radio
.checkbox-blue, .radio-blue
  label
    padding: 0
    span
      position: relative
      display: flex

  input[type='checkbox'], input[type='radio']
    display: none

.checkbox-blue:not(.checkbox-right) label span:before, .checkbox-blue.checkbox-right label span:after,
.radio-blue:not(.radio-right) label span:before, .radio-blue.radio-right label span:after
  content: ''
  display: inline-block
  width: 15px
  height: 15px
  min-width: 15px
  margin-top: 3px
  border: 1px solid $light-gray
  background-color: transparent
  transition: border-color 0.2s ease, background-color 0.2s ease

.checkbox-blue
  // backgroud
  &:not(.checkbox-right) input:checked + label span:before, &.checkbox-right input:checked + label span:after
    border-color: $brand-primary
    background-color: $brand-primary

  // checkmark
  &:not(.checkbox-right) input:checked + label span:after, &.checkbox-right input:checked + label span:before
    border-left: 1px solid #fff
    border-top: 1px solid #fff
    content: ''
    height: 10px
    position: absolute
    transform: rotate(215deg)
    width: 5px

  &:not(.checkbox-right) label span
    &:after
      left: 5px
      top: 4px
    &:before
      margin-right: .5em

  &.checkbox-right label span:before
    right: 5px

  input.is-invalid:not(:checked) + label span
    color: $brand-danger
    a
      color: $brand-danger
    &:before
      border-color: $brand-danger


.radio-blue
  input[type='radio']:checked
    & + label span:before, & + label span:after
      border: 4px solid $brand-primary

  &:not(.radio-right) label span:before, &.radio-right label span:after
    border-radius: 100%

  &:not(.radio-right) label span:before
    margin-right: 0.5em

  &.radio-right label span:after
    margin-left: 0.5em

.character-counter
  font-size: 12px
  color: $brand-light-black
  text-align: right
