@import "bootstrap-sprockets";
@import 'bootstrap-custom';
@import "cosmo/bootswatch";

@media (max-width: $screen-xs-max) {
  .col-xs-12 {
    margin-bottom: $grid-gutter-width / 4
  }

  .col-margin-bottom {
    .col-xs-12, .col-xs-6 {
      margin-bottom: $grid-gutter-width / 4
    }
  }
}

@media (max-width: $screen-lg-min) {
  .col-sm-12 {
    margin-bottom: $grid-gutter-width / 4
  }

  .col-margin-bottom {
    .col-sm-12, .col-sm-6 {
      margin-bottom: $grid-gutter-width / 4
    }
  }
}

.label {
  padding: .2em .6em;
}

// -- Spree Custom Footer ---------------------

#spree-footer {
  background: $gray-dark;
  padding-top: $padding-base-horizontal;
  margin-top: $line-height-computed;
  color: #fff;
}

// -- Spree Layout Custom Rules -------------------------

.alert-notice { @extend .alert-success; }
.alert-error { @extend .alert-danger; }
.alert-alert { @extend .alert-info; }

.product-body {
  height: 170px;
}

.progress-steps {
  margin-top: $line-height-computed;
}

// Center cart line items
table {
  &.table > tbody > tr {
    &.line-item td, &.stock-item td {
      vertical-align: middle;
    }
  }

  &#line-items {
    > tbody, > tfoot {
      > tr > td {
        vertical-align: middle;

        &.order-qty {
          text-align: center;
        }
      }
    }
  }
}

// Footer links
#footer-left a {
  color: lighten($brand-primary, 20);

  &:hover {
    color: lighten($brand-primary, 10);
  }
}
