@media (max-width: $screen-sm-max)
  .margin-text-bottom-sm
    margin-bottom: 7px

@media (max-width: $screen-xs)
  .margin-text-bottom-xs
    margin-bottom: 7px

@media (min-width: $screen-xs-max)
  .no-margin-text-right-xs
    margin-right: 7px

.no-margin
  margin: 0 !important

@each $side in (top, bottom, left, right)
  .no-margin-#{$side}
    margin-#{$side}: 0 !important

  .margin-text-#{$side}
    margin-#{$side}: 7px

.margin-text-horizont-eq
  margin-left: 7px
  margin-right: 7px

.margin-text-vertical-eq
  margin-top: 7px
  margin-bottom: 7px

.no-padding
  padding: 0 !important

.nowrap
  white-space: nowrap

.no-border
  border: none

.no-box-shadow
  box-shadow: none

.row
  &.condensed
    @include condensed-row

  @media (max-width: $screen-xs-max)
    &.max-condensed-xs
      @include condensed-row(12)

.divider-with-text
  display: flex
  align-items: center
  font-size: 20px

  &:before, &:after
    border-top: 1px solid $gray-lighter
    content: ''
    display: block
    flex: 1

  & > .or-divider
    font-family: $font-family-roboto-condensed
    font-weight: bold
    line-height: normal
    color: $gray-light
    margin: 0 15px

.menu-arrow-right:after
  content: '\e258'
  font-family: 'Glyphicons Halflings'

.menu-arrow-left:before
  content: '\e257'
  font-family: 'Glyphicons Halflings'

.check-left, .info-icon-left, .cross-icon-left, .diamond-icon-left, .warning-icon-left
  &:before
    content: ''
    display: inline-block
    margin-right: 10px
    height: 16px
    width: 16px

  &.condensed:before
    margin-right: 5px

  &.icon-lg:before
    height: 24px
    width: 24px

.info-icon-right
  &:after
    content: ''
    display: inline-block
    margin-left: 10px
    height: 16px
    width: 16px

  &.condensed:after
    margin-left: 5px

.check-left
  &:before
    @include check-icon-bg(#fff)
    vertical-align: bottom
  &.text-success
    &:before
      @include check-icon-bg($brand-success)

.info-icon-left
  &:before
    @include info-icon-bg
    vertical-align: text-top

  &.outlined:before
    @include info-icon-bg(#fff, $brand-primary, $brand-black)

  &.outline-info:before
    @include info-icon-bg(#fff, #fff, $brand-info)

.info-icon-right
  &:after
    @include info-icon-bg
    vertical-align: text-top

  &.outlined:after
    @include info-icon-bg(#fff, $brand-primary, $brand-black)

.cross-icon-left:before
  @include cross-icon-bg
  vertical-align: text-top

.diamond-icon-left
  &:before
    background-image: asset-data-url('icons/rewards-diamond.svg')
    background-size: contain
    background-repeat: no-repeat
    vertical-align: middle
    margin: -2px 5px 0 0
    height: 1em
    width: 1em

  &.condensed:before
    margin-right: 3px

.warning-icon-left:before
  @include warning-icon-bg
  vertical-align: text-top

.visible-scroll
  &::-webkit-scrollbar
    -webkit-appearance: none
    width: 10px

  &::-webkit-scrollbar-thumb
    -webkit-box-shadow: 0 0 1px #3f3f49
    background-color: #3f3f49
    border-radius: 0

  &:hover::-webkit-scrollbar-thumb
    background-color: #3f3f49

  &::-webkit-scrollbar-track
    background-color: $brand-light-black

.vertical-middle
  vertical-align: middle

.caret-circle
  background-color: #454950
  border-radius: 50%
  display: inline-block
  position: relative
  height: 2em
  width: 2em
  text-align: center

  .caret
    color: #fff
    margin: auto
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

  .caret-right
    transform: translateX(2px)

.caret.caret-right
  border-bottom: 4px solid transparent
  border-top: 4px solid transparent
  border-left: 4px solid

.dropdown.open .caret-circle .caret
  content: ''
  border-top: 0
  border-bottom: 4px dashed

.table.no-border-cells
  tbody > tr > td
    border: none

.tags-without-input
  input
    display: none

  .bootstrap-tagsinput
    background: transparent
    border: none
    box-shadow: none
    cursor: pointer
    padding: 0

    .tag
      font-size: 14px
      font-family: $font-family-roboto-condensed
      display: inline-block
      padding: 4px 10px
      padding-right: 4px
      min-width: 100px
      text-align: left

      @media (max-width: $screen-xs)
        font-size: 10px

      span
        font-family: $font-family-sans-serif
        font-weight: 400
        float: right

        &:hover
          box-shadow: none

$avatar-size: 44px

.initials-avatar
  background: $dark-cyan-color
  color: #fff
  border-radius: 50%
  text-transform: uppercase
  text-align: center
  height: $avatar-size
  width: $avatar-size

  span
    font-size: calc(#{$avatar-size} / 2)
    line-height: 1
    position: relative
    top: calc(#{$avatar-size} / 4)

// before - vertical; after - horizontal
.plus-minus
  box-sizing: border-box
  transition: transform .3s
  width: $font-size-base
  height: $font-size-base
  transform: rotate(180deg)
  position: relative

  &:before, &:after
    content: ''
    display: block
    height: 0px
    border-bottom: solid 2px $brand-black
    position: absolute
    bottom: $font-size-base/2 - 1px

  &:before
    width: 0px
    transform: rotate(90deg)
    transition: width .3s

  &:after
    width: $font-size-base

.collapsed .plus-minus
  transform: rotate(0deg)

  &:before
    width: $font-size-base

.blue-divider
  border-color: $brand-primary
  border-width: 2px
  width: 45px

.opacity-1
  opacity: 1 !important

.lozad
  opacity: 0
  transition: opacity .5s ease-in-out

.text-left-xs
  @media (max-width: $screen-xs-max)
    text-align: left

.video
  height: 0
  margin-bottom: 10px
  overflow: hidden
  padding-bottom: 45%
  padding-top: 0
  position: relative

  &.widescreen
    padding-bottom: 56.34%

  embed, iframe, object, video
    height: 100%
    left: 1px
    position: absolute
    top: 2px
    width: 100%
