.label
  font-family: $font-family-roboto-condensed
  font-size: 10px
  letter-spacing: .4px
  padding: 3px 7px

  &.label-success--inverse
    background-color: rgba($brand-success, .1)
    color: $brand-success

    &.label-bordered
      border: 1px solid $brand-success

  &.label-no-bg
    background: transparent
