html
  touch-action: manipulation

.container
  @media (min-width: $screen-lg)
    width: 95%

  @media (min-width: 1440px)
    width: 1410px

.site-content-wrap
  padding-top: 20px
  padding-bottom: 40px
  opacity: 1
  transition: opacity .3s

  &.content-loading
    opacity: .6
    pointer-events: none

  &.container-fluid
    max-width: $max-fluid-width

.visible-xxs, .visible-inline-xxs
  display: none

@media (max-width: $screen-xs)
  .visible-xxs
    display: block !important

  .visible-inline-xxs
    display: inline !important

  .hidden-xxs
    display: none !important


.visible-grid-xs
  display: none !important

@media (max-width: $screen-xs-max)
  .visible-grid-xs
    display: grid !important

body
  @media (max-width: $screen-sm-max)
    &:not(.with-announcement)
      padding-top: 58px

    &.with-announcement
      #spree-header.affix
        & + :not(.alert-top-sticky), & + .alert-top-sticky + *
          margin-top: 58px

.bg-white
  background-color: #fff

.bg-gray
  background-color: $body-bg

.disclaimer-block
  max-width: 640px
  margin: 0 auto

  @media (max-width: $screen-sm-max)
    max-width: 500px

@mixin grid-shortcuts($prefix: 'l', $with-offsets: false)
  @for $i from 1 through $grid-columns
    .#{$prefix}#{$i}
      width: percentage($i/$grid-columns)

  @if $with-offsets
    @for $i from 0 through $grid-columns - 1
      $size: percentage($i/$grid-columns)

      .#{$prefix}o#{$i}
        margin-left: $size

      .#{$prefix}r#{$i}
        left: $size

      .#{$prefix}l#{$i}
        right: $size

// small tablets 480px - 767px
@media (min-width: $screen-xs) and (max-width: $screen-xs-max)
  @include grid-shortcuts($prefix: 'col-st-', $with-offsets: true)
