a
  &:focus
    outline: none

  &.hover-inner:hover
    .text-muted
      color: darken($text-muted, 15%)

.muted-link
  color: $text-muted

  &:hover, &:focus
    color: darken($text-muted, 10%)

.plain-link
  color: $text-color
  text-decoration: none

  &:hover, &:focus
    color: $brand-black
    text-decoration: none

.white-link
  color: #fff
  text-decoration: underline
  &:hover, &:focus
    color: #fff

a, .btn-link
  &.bottom-border
    border-bottom: 3px solid transparent
    transition: border .2s

    &:hover
      border-bottom: 3px solid #fff

    &.active
      border-bottom: 3px solid $brand-primary

.show-more
  cursor: pointer
  margin-left: 3px

  @media (max-width: $screen-xs)
    &:hover, &:focus
      text-decoration: none

  &.arrow:after
    content: ''
    margin-left: 7px
    display: inline-block
    border: $brand-primary solid
    border-width: 0 1px 1px 0
    transform: scale(0.85, 1) rotate(225deg)
    width: 9px
    height: 9px
    transition: transform .15s

.hide + .show-more.arrow:after
  transform: scale(0.85, 1) rotate(45deg)
  vertical-align: text-top

@media (max-width: $screen-xs)
  .anchor-link
    height: 70px
    margin-top: -70px
    visibility: hidden
