body.mobile-menu-open
  overflow: hidden

.mobile-menu-btn
  cursor: pointer
  padding: 0 7.5px

.mobile-menu-toggle ~ .backdrop
  background-color: rgba(0, 0, 0, .5)
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 1002
  cursor: default
  position: fixed

.mobile-menu-toggle:checked
  & ~ .backdrop
    display: block

  & ~ .mobile-menu
    transform: translateX(0)
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .5)

    &.mobile-menu-white
      box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .08)

.mobile-menu
  background-color: $brand-black
  transition: .25s transform ease-out
  overflow-x: hidden
  overflow-y: auto
  position: fixed
  left: 0
  top: 0
  transform: translateX(-100%)
  height: 100%
  max-width: 400px
  width: 85vw
  z-index: 1041
  will-change: transform

  ul
    padding: 0
    margin: 0

  li
    list-style: none

    a, label
      font-weight: normal
      display: block
      cursor: pointer
      margin: 0
      padding: 12px 20px
      text-decoration: none

      &:not(.link-muted)
        color: #fff

    label
      text-transform: uppercase

      &.menu-arrow-left:before
        margin-right: 10px

  &.mobile-menu-white
    background-color: white

    li
      a, label
        &:not(.link-muted)
          color: $text-color

    .divider
      border-top: 1px solid #eaeaea

  .enabled-category, .disabled-category
    display: flex
    align-items: center

  .disabled-category
    opacity: 1

    span:not(.label)
      opacity: .65

  .enabled-category
    &:after
      color: $text-muted

  .link-to-account
    background: #33333e
    line-height: 16px
    display: flex
    align-items: center

    img
      margin-right: 17px

    .menu-arrow-right:after
      color: $text-muted

  .divider
    border-top: 1px solid $brand-light-black

.mobile-menu__inner-wrapper
  position: relative

.mobile-menu__items
  position: relative
  transition: .25s transform
  will-change: transform

.subtaxon-toggle:checked
  & + .subcategories
    height: auto
    transform: translateX(0)

  & ~ .mobile-menu__items
    transform: translateX(-100%)

.subcategories
  overflow-y: auto
  position: absolute
  height: 100%
  left: 0
  top: 0
  transform: translateX(100%)
  transition: .25s transform
  width: 100%
  will-change: transform

  li
    list-style: none
    a
      text-decoration: none
      padding: 12px 20px
      display: block

// tablet
@media (max-width: $screen-sm-max)
  #spree-header
    &.affix
      position: fixed
      left: 0
      top: 0
      width: 100%

    .navbar-nav .open .dropdown-menu
      background: #fff
      position: absolute

    .link-to-account.open .dropdown-menu
      left: auto
      right: 0

  .keyword-suggestions
    -webkit-overflow-scrolling: touch

  .taxon-group button
    padding: 17px 6px
