.modal
  &.modal-vertical-center.in
    display: flex !important
    align-items: center

  &.modal-wide-paddings
    @media (min-width: $screen-xs)
      .modal-body
        padding: 20px 30px

      .modal-header
        padding: 15px 30px

  &.modal-form
    .modal-body
      padding: 50px

      @media (max-width: $screen-xs-max)
        padding: 30px

    .close
      position: absolute
      top: 15px
      right: 15px

  .close
    color: $brand-black
    font-weight: normal
    opacity: 1
