.navbar-nav > li > a
  &:hover, &:focus
    background: none

.nav .open > a
  &, &:hover, &:focus
    background: none

#spree-header
  background-color: $brand-black
  position: relative
  z-index: 1000

  header
    max-width: $max-fluid-width

  hr.divider
    border-top: 1px solid $brand-light-black
    margin: 0
    margin-left: 15px

    @media (max-width: $screen-md-max)
      margin-left: 7px

  .navbar-nav
    margin: 0

    & > li > a
      color: #fff
      padding-top: 7.5px
      padding-bottom: 7.5px

      @media (max-width: $screen-md-max)
        padding: 7.5px

    &.condensed > li > a
      padding: 7.5px

    &:hover, &:focus
      background: none

  .navbar-top-row li a
    opacity: .5
    transition: opacity .2s

    &:hover
      opacity: 1

  .navbar-bottom-row li
    & > a
      padding-top: 10px
      padding-bottom: 10px

  .navbar-top-right
    .badge
      position: absolute
      top: 3px
      right: 0
      z-index: 1

    li.link-to-account
      max-width: 280px
      background: #33333e

      @media (min-width: $screen-md)
        min-width: 120px

        & > a
          justify-content: center

      @media (min-width: $screen-sm) and (max-width: $screen-md-max)
        max-width: 250px

      & > a
        display: flex
        align-items: center
        padding: 16.5px

      .dropdown-toggle
        padding: 13px 21px
        @include with-caret-after(10px)
        &:after
          right: 13px

      .dropdown-menu
        width: 100%

      .name-rewards
        line-height: 16px
        margin: 0 12px

#taxon-dropdown .checked:before
  content: '\002713'
  position: absolute
  left: 10px

#logo a
  display: block
  max-width: 135px
  min-width: 110px
  margin-right: 15px
  img
    width: 100%

.top-navbar
  width: 100%

.navbar-search-form
  position: relative
  max-width: 450px

  @media screen and (min-width: 600px) and (max-width: $screen-md-min), screen and (min-width: 1100px)
    min-width: 400px

  @media screen and (min-width: $screen-md) and (max-width: 1099px)
    min-width: 355px

  .taxon-group
    flex-basis: 30%

    button
      background: $brand-gray-black
      border-color: $brand-gray-black
      font-weight: normal
      padding: 18px 20px
      width: 100%

      @include with-caret-after(8px)

      &:hover, &:focus
        background: $brand-gray-black
        border-color: $brand-gray-black

  .search-group input
    background-color: $brand-light-black
    border-color: $brand-light-black
    color: #fff
    height: 58px
    padding: 10px 15px
    padding-right: 0
    &:focus
      box-shadow: none

  .btn-search
    background-color: $brand-light-black
    max-height: 58px
    padding: 10px 15px

    &:before
      @include magnifying-glass-bg(rgba(255, 255, 255, 0.3))
      content: ''
      display: inline-block
      transition: background-image .2s
      height: 32px
      width: 32px
      vertical-align: middle

    &:hover, &:focus
      &:before
        @include magnifying-glass-bg(#fff)

  &.filled
    .btn-search:before
      @include magnifying-glass-bg($brand-primary)

    .btn-search:focus:before
      @include magnifying-glass-bg(darken($brand-primary, 10%))

.keyword-suggestions
  background-color: #2b2b33
  color: #fff
  display: none
  left: 0
  padding: 10px 0
  padding-right: 8px
  position: absolute
  top: 100%
  width: 100%
  z-index: 100

  .tt-dataset
    @extend .visible-scroll
    max-height: 350px
    overflow-y: auto

  &.tt-empty
    padding: 0

  &.tt-open
    display: block

  .product-suggestion
    display: flex
    cursor: pointer
    padding: 10px 20px

    & > div + div
      margin-left: 15px

    img
      max-width: 56px

    &__info
      overflow: hidden

#taxon-dropdown.dropdown-menu
  background-color: $brand-gray-black
  border: none
  overflow-y: auto
  padding: 10px 0
  max-height: 350px
  width: 100%

  li
    &:not(.disabled) a
      color: #fff

    a
      padding: 10px 40px

      &:hover
        background-color: #42424e

      &.disabled
        display: flex
        align-items: center
        justify-content: space-between

.checkout-header
  h4
    font-size: 24px
    margin: 16px 0
    @media (min-width: $screen-xs)
      text-transform: uppercase

#top-nav-bottom-row, #footer-links, #top-nav-top-row
  .btn.btn-link, a
    font-size: 15px
