.popover--condensed
  .popover-title
    font-size: 14px

  .popover-content
    font-size: 12px

.popover--info
  padding: 0

  .popover-title
    background-color: $brand-info
    color: #fff

  &.bottom
    .arrow:after
      border-bottom-color: $brand-info

.hover-popover
  cursor: pointer
