h1.product-title
  font-size: 24px
h6
  font-family: $font-family-roboto

@media (min-width: $screen-md-min)
  h1
    margin-top: 0
    font-size: 38px
    &.product-title
      font-size: 32px
  h2
    font-size: 28px
  h3
    font-size: 24px
  h4
    font-size: 20px
  h5
    font-size: 18px
  h6
    font-size: 16px

.text-big
  font-size: 16px

.text-medium
  font-size: 13px

.text-small
  font-size: 12px

.text-xsmall
  font-size: 10px

.text-color
  color: $text-color

.text-roboto
  font-family: $font-family-roboto

.text-white
  color: #fff

.text-black
  color: $brand-black !important

.text-light-gray
  color: $light-gray

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.strike
  text-decoration: line-through

.lead
  font-size: 16px
  font-weight: 500
  line-height: 1

.semi-bold
  font-weight: 500

.text-bold
  font-weight: bold

.upcase
  text-transform: uppercase

.text-dark-danger
  color: $dark-danger

.text-rewards
  color: $cryptoberry-color

  span
    font-weight: 500

  &--bright
    color: $cryptoberry-bright-color

.text-enlarge
  letter-spacing: 0.5px

.text-high
  line-height: 1.56

.ptrn
  color: $cryptoberry-color
  &:before
    content: ''
    background-image: asset-data-url('ptrn.svg')
    background-position: center left
    background-repeat: no-repeat
    background-size: 1em
    border-radius: 50%
    display: inline-block
    height: 1em
    margin-right: 3px
    vertical-align: middle
    width: 1em

  &:after
    content: ' PTRN'

  &.ptrn-no-text
    &:after
      content: ''

.ptrn-right:after
  content: ''
  background-image: asset-data-url('ptrn.svg')
  background-position: center left
  background-repeat: no-repeat
  background-size: 1em
  border-radius: 50%
  display: inline-block
  height: 1em
  margin-left: 5px
  vertical-align: middle
  width: 1em

@media (max-width: $screen-xs-max)
  .semi-bold-xs
    font-weight: 500
  .text-center-xs
    text-align: center

@media (max-width: $screen-xs)
  .text-center-xxs
    text-align: center

sup
  font-weight: normal

.normal-font-weight
  font-weight: normal
