.credit-card
  address
    word-wrap: break-word

  &--head
    line-height: 1

  &__name
    display: inline-block
    max-width: 80%

.credit-card-brands--small img
  max-width: 35px

#new-stripe-card-wrapper
  padding: 10px 18px
  border: 1px solid $input-border

  &.large
    height: 48px
    padding: 14px 20px

  &.StripeElement--invalid
    border-color: $brand-danger

#stripe-card-errors
  width: 100%

#credit-card-edit-form
  .billing-adddress-form
    margin-bottom: 15px

#toggle-credit-card-edit
  line-height: 1em
