body#home-page
  .hero
    background-image: image-url('hero-bg.jpg')
    background-color: rgba($brand-black, .4)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-blend-mode: multiply
    margin-bottom: 41px
    padding: 80px 0

    @media (max-width: $screen-sm-max)
      margin-bottom: 26px
      padding: 30px 0

    .container
      max-width: 100%

    .content
      width: 700px
      margin: 0 auto

    h1
      margin: 0 0 16px

    h3
      font-family: $font-family-roboto
      font-size: 26px
      font-weight: normal
      margin-bottom: 35px

    .btn
      font-size: 15px
      padding: 14px 38px
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)

      & + div
        margin-top: 14px

        a:hover
          color: #fff

    @media (max-width: $screen-xs-max)
      .content
        width: 300px
        margin-bottom: 10px

        h1
          font-size: 36px

        h3
          font-size: 22px
          margin-bottom: 26px

        .btn
          font-weight: 500

  section
    h2
      display: inline-block
      color: $brand-black
      margin-bottom: 10px
      text-transform: uppercase

    .view-all
      margin-left: 10px
      color: #0cbbd4

    .divider
      border-bottom: 1px solid #eaeaea
      margin-bottom: 28px
      width: 100%

  .how-it-works-container
    h2
      font-size: 30px
      margin-bottom: 68px

      @media (max-width: $screen-sm-max)
        margin-top: 14px
        margin-bottom: 48px

      @media (max-width: $screen-xs)
        font-size: 26px

  section.top-categories
    padding-bottom: 40px

    .box
      position: relative
      background-color: #fff
      background-image: image-url('slant-bg.png')
      background-origin: border-box
      background-position-x: right
      background-position-y: top
      background-repeat: no-repeat
      background-size: auto
      min-height: 530px
      padding: 0

      .content
        position: relative
        width: 255px
        margin-left: 60px
        text-align: left
        h3
          font-size: 30px
          text-transform: uppercase
          color: $brand-black
        p
          margin-bottom: 20px
        .btn
          padding: 16px 50px

      figure
        margin-right: 20px
        width: auto
        text-align: right
        img
          max-width: 180px

    @media (max-width: $screen-md-max)
      .box
        margin-bottom: 24px

        .content
          width: 100%
          margin: 0
          text-align: center
          h3
            font-size: 24px

        figure
          margin: 25px 0 0
          text-align: center

          img
            max-height: 300px

  section.staff-picks
    position: relative
    background-color: #181A1E
    background-image: image-url('staff-picks-bg.png')
    background-origin: border-box
    background-position-x: right
    background-position-y: top
    background-repeat: no-repeat
    background-size: cover
    margin-bottom: 50px
    padding-top: 50px
    @media (max-width: $screen-md-max)
      background-position-x: center
    .offer
      position: absolute
      z-index: 200
      top: 0
      left: 0
      padding: 6px 70px 6px 40px
      min-width: 350px
      overflow: hidden
      &:after
        content: " "
        position: absolute
        display: block
        width: 100%
        height: 100%
        top: 0
        right: 70px
        z-index: -1
        background: #ffd261
        transform-origin: bottom left
        transform: skew(-45deg)

      h4
        color: #454a50
        font-size: 18px
        font-weight: 700
        letter-spacing: 0.5px
        text-transform: uppercase
      @media (max-width: $screen-sm-max)
        padding: 6px 70px 6px 10px
        min-width: inherit
        h4
          font-size: 15px
          letter-spacing: 0
    .content
      padding-top: 7%
      padding-bottom: 7%

      @media (max-width: $screen-sm-max)
        padding-top: 10px
        padding-bottom: 0
        text-align: center

      h3
        font-size: 28px
        font-family: $font-family-roboto-slab
        font-weight: normal
        line-height: 1.33

      .text-big
        margin-bottom: 28px

    .btn
      padding: 16px 55px

    .staff-picks-items
      margin-right: 90px
      padding-bottom: 48%
      width: 100%

      @media (max-width: $screen-sm-max)
        margin: 0 40px 40px
        padding-bottom: 45%

.page
  background: white
  padding: 45px 50px

.how-it-works-container
  @media (max-width: $screen-sm-max)
    h2, .box p
      max-width: 600px
      margin-right: auto
      margin-left: auto

      @media (max-width: $screen-xs)
        max-width: 270px

.how-it-works
  .box
    background-color: #fff
    background-image: image-url('cyan-stripe-bg.png')
    background-origin: border-box
    background-repeat: no-repeat
    background-size: 50% 24px
    background-position-x: left
    background-position-y: top
    padding: 0 42px 22px
    min-height: 210px
    text-align: center
    margin-bottom: 20px

    @media (max-width: $screen-sm-max)
      min-height: 190px
      margin-bottom: 50px

    @media (max-width: $screen-xs-max)
      min-height: 220px

    img.icon
      width: 78px
      height: 78px
      margin-top: -28px

    h3
      color: $brand-black
      font-size: 24px
      text-transform: uppercase
      margin-top: 10px

    hr
      margin: 15px auto 18px

    p
      color: #282b30
      font-size: 15px
      line-height: 1.38

  @media (max-width: $screen-sm-max)
    & > div:last-child .box
      margin-bottom: 0

  @media (max-width: $screen-xs-max)
    h2
      font-size: 26px
      margin-top: 14px

    .box
      margin-bottom: 20px
      background-position-y: top
      margin-bottom: 32px
      min-height: 120px
      padding-top: 0
      padding: 0 42px 22px

    img.icon
      margin-top: -28px

.top-products
  @media (max-width: $screen-xs)
    h2
      font-size: $font-size-h3
