.how-it-works-page
  .site-content-wrap
    display: none

  .hero
    background-image: image-url('how-it-works/hero.png')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    padding: 0 70px

    @media (max-width: $screen-md-max)
      padding: 0 15px

    .text-block
      color: #fff
      padding: 160px 0

      @media (max-width: $screen-sm-max)
        padding: 100px 0

      hr
        width: 45px

    .mobile-img
      max-width: 450px

      @media (max-width: $screen-md-max)
        max-width: 280px

    h3
      font-family: $font-family-roboto

  .container
    max-width: 100%

  section
    padding: 80px 0

    @media (max-width: $screen-sm-max)
      padding: 40px 0

    &.container
      padding: 80px 15px

      @media (max-width: $screen-sm-max)
        padding: 40px 15px

    &:last-of-type
      padding-bottom: 30px

    .title-divider
      border-width: 1px

    .section-divider
      margin: 22px 0

    .btn
      margin: 40px 0 80px
      width: 300px

      @media (max-width: $screen-sm-max)
        margin: 40px 0 60px

      @media (max-width: $screen-xs-max)
        margin: 40px 0

    @media (max-width: $screen-sm-max)
      .text-col
        max-width: 550px
        margin: 10px auto 0
        text-align: center

      .section-divider
        margin: 22px auto

    &:not(.how-it-works-container)
      img
        width: 100%

        @media (min-width: $screen-md)
          padding: 20px

        @media (max-width: $screen-xs-max)
          width: 70%

  .how-it-works-container
    text-align: center

    @media (max-width: $screen-xs-max)
      .title-divider
        margin-bottom: 60px

  .buyer-rewards-container
    img
      max-width: 240px

      @media (max-width: $screen-sm-max)
        max-width: 200px

    @media (min-width: $screen-md)
      .title-divider
        margin-bottom: 60px

    .row:not(:last-child)
      margin-bottom: 70px

      @media (max-width: $screen-sm-max)
        margin-bottom: 30px

  .bonus-rewards-container
    img
      max-width: 300px

      @media (max-width: $screen-sm-max)
        max-width: 200px

    @media (min-width: $screen-md-min)
      .title-divider
        margin-bottom: 60px

    .bonus-rewards-equation
      font-style: italic
      text-align: left
      margin-top: 20px

      @media (min-width: $screen-md-min)
        padding-left: 40px

      @media (max-width: $screen-xs)
        font-size: 12px

      sup
        margin-left: 2px

  .redeeming-container
    img
      max-width: 320px

      @media (max-width: $screen-sm-max)
        max-width: 300px

  section.membership-container
    img
      max-width: 160px
      padding-top: 0

      @media (max-width: $screen-sm-max)
        max-width: 120px

    .section-divider
      margin: 22px auto

    .text-col
      max-width: 720px
      margin: 10px auto 0

  .protocol-container
    max-width: 900px
