.product-collection
  &--influencer-header
    display: grid
    grid-template-areas: "avatar name" "avatar bio"
    grid-template-columns: min-content
    grid-template-rows: max-content
    grid-auto-flow: column
    grid-row-gap: 15px
    padding-top: 60px

    @media (max-width: $screen-md-max)
      padding-top: 20px

    @media (max-width: $screen-xs)
      grid-template-areas: "name" "avatar" "bio"
      grid-template-columns: auto

    &--avatar
      grid-area: avatar
      max-width: 140px
      flex-direction: column
      margin-right: 40px
      text-align: center

      @media (max-width: $screen-xs-max)
        max-width: 100px
        margin-right: 20px

      @media (max-width: $screen-xs)
        flex-direction: row
        align-items: center
        margin-right: 0
        max-width: 100%
        overflow: hidden
        text-align: left

      img
        width: 100px
        @media (max-width: $screen-xs-max)
          width: 60px

      svg
        width: 15px
        vertical-align: middle
        .st3
          fill: $twitter-color

      &--name
        margin-top: 5px

        @media (max-width: $screen-xs)
          margin-top: 0
          margin-left: 15px
          flex: 1

    &--name
      grid-area: name

    &--bio
      grid-area: bio

    & + hr
      margin-bottom: 50px

      @media (max-width: $screen-xs-max)
        margin-bottom: 30px
