body#product-details
  background-color: #fff

  @supports (display: grid)
    .product-grid
      display: grid
      grid-template-columns: 2fr 4fr 3fr
      grid-template-rows: repeat(2, minmax(0, min-content)) auto
      grid-template-areas: "images title cart" "images variations cart" "images content cart" "review-btn review-btn review-btn"

      @media (max-width: $screen-md-max)
        grid-template-columns: 1fr 1.5fr 2fr
        grid-template-rows: minmax(0, min-content) auto
        grid-template-areas: "images title cart" "variations variations cart" "content content content" "review-btn review-btn review-btn"

      @media (max-width: 700px)
        grid-template-columns: 2fr 3fr
        grid-template-areas: "images title" "variations variations" "cart cart" "content content" "review-btn review-btn"

    .product-images-item
      grid-area: images
      width: 100%

    .product-title-item
      grid-area: title
      width: 100%

    .product-variations-item
      grid-area: variations
      width: 100%

    .product-review-btn-item
      grid-area: review-btn

    .product-cart-item
      grid-area: cart
      width: 100%

    .product-content-item
      grid-area: content
      width: 100%

      @media (min-width: $screen-md)
        padding-top: 25px

  .disclaimer-block
    hr
      margin-top: 80px

  .product-description
    ul
      margin-top: 10px
      padding-left: 25px

  .product-title
    margin-bottom: 5px
    display: -webkit-box
    -webkit-line-clamp: 5
    -webkit-box-orient: vertical
    overflow: hidden

    @media (max-width: $screen-sm-max)
      font-size: 24px

  .accordion .card
    border-top: 1px solid #eaeaea
    padding-bottom: 25px

    a[data-toggle='collapse']
      text-decoration: none
      color: $text-color
      font-size: 26px
      transform: rotate(45deg)
      transition: transform 0.2s
      &:after
        content: '﹢'
      &.collapsed
        transform: rotate(0deg)
    h4
      font-size: 14px
      font-weight: bold
      letter-spacing: 0.4px
      color: #454a50
      text-transform: uppercase

  #main-image
    a
      display: block
      padding-top: calc(100% / (var(--aspect-ratio)))
      position: relative
      cursor: default
      &[data-fancybox='gallery']
        cursor: pointer

    img
      max-width: 100%
      width: 100%
      max-height: 100%
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      margin: auto

    @media (max-width: $screen-xs)
      .panel-body
        padding: 10px

  .product-promotions
    min-height: 400px
    margin-top: 40px
    background-color: #f4f4f4
    padding-top: 30px
    h2
      text-transform: uppercase
      font-family: $font-family-roboto-condensed
      font-size: 36px
      font-weight: bold
      color: $brand-black

  .buy-box
    border-top: 6px solid $brand-black
    background-color: #f4f4f4

    .panel-body
      padding: 20px
      @media (min-width: $screen-md-min)
        padding: 30px 50px

    &--head
      .lead
        font-weight: bold

      .price
        font-size: 26px

    &--stock-status-ship
      font-size: 15px

    &--rewards
      font-size: 16px
      color: $cryptoberry-color

      strong
        font-size: 21px

      &.diamond-icon-left, .info-icon-left
        &:before
          vertical-align: top

      &.diamond-icon-left:before
        margin-right: 7px
        margin-top: 1px

      & > span
        display: inline-block
        line-height: 1.2

    .form-group
      & > label
        font-family: $font-family-roboto-condensed

    &--quantity-select
      display: inline-block
      width: 85px

    &--quantity-left
      margin-top: 3px

  .fancybox-bg
    background: #fff

  .fancybox-toolbar .fancybox-button
    background: transparent
    color: lighten($brand-black, 30%)

    &:hover
      color: $brand-black

  .additional-buy-box
    margin-top: 30px

    .panel
      line-height: 1.5

    .panel:last-child
      margin-bottom: 15px

    button
      padding: 0
      label
        font-weight: 500
        padding: 4px 10px
        cursor: pointer

    .buttons-wrapper
      @media (min-width: $screen-md)
        min-width: 144px

      a.btn
        padding: 4px 10px

@mixin hide-border()
  .product-card--inner
    border-right: none

.product-list
  background: #fff
  margin: 0

.product-card
  padding: 0

  &--inner
    border-right: 1px solid rgba(151, 151, 151, 0.35)
    padding: 0 20px
    margin: 25px 0
    font-size: 14px
    line-height: 1.3em

    @media (max-width: $screen-xs-max)
      font-size: 13px

  &:last-child
    @include hide-border
  @media (max-width: $screen-xs)
    &.col-xs-6:nth-child(2n)
      @include hide-border
  @media (min-width: $screen-xs) and (max-width: $screen-xs-max)
    &.col-st-3:nth-child(4n)
      @include hide-border
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
    &.col-sm-4:nth-child(3n)
      @include hide-border
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max)
    &.col-md-3:nth-child(4n)
      @include hide-border
  @media (min-width: $screen-lg-min)
    &.col-lg-2:nth-child(6n), &.col-lg-3:nth-child(4n)
      @include hide-border

  &--image
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    margin-bottom: 20px
    padding-bottom: 190px

    @media (max-width: $screen-xs)
      margin-bottom: 15px

  &--title
    overflow: hidden
    display: -webkit-box
    font-weight: 500
    margin-bottom: 3px
    color: $dark-cyan-color
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical

    @supports not (-webkit-line-clamp: 2)
      max-height: 2.9em

  &--price
    margin-top: 4px
    .price
      color: $brand-black
    .text-rewards
      margin-top: 3px

  &--rewards
    padding: 4px

    .text-rewards
      font-size: 13px

  .alert-rewards
    margin: 3px 0 0 0
    padding: 5px

    .info-icon-right:after
      vertical-align: text-bottom

#product-thumbnails
  margin: 22px 0

  li
    .thumbnail
      border: 1px solid $panel-default-border
      max-width: 50px
      transition: .25s border-color
      padding: 4px

      @media (max-width: $screen-xs-max)
        max-width: 40px

    a[data-more-img]
      display: block
      position: relative

      &:before
        content: ''
        background: #454A50
        opacity: .6
        left: 0
        top: 0
        bottom: 0
        right: 0
        position: absolute

      &:after
        font-family: $font-family-roboto-condensed
        content: "+"attr(data-more-img)
        color: #fff
        left: 0
        top: 50%
        transform: translateY(-50%)
        position: absolute
        text-align: center
        width: 100%

        @media (max-width: $screen-xs-max)
          font-size: 12px

    &.thumb-selected .thumbnail
      border-color: $brand-primary

.product-subtitle
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  overflow: hidden

  &--highlighted
    font-size: 16px
    font-family: $font-family-roboto-condensed

.product-similar-items
  &--inner
    position: relative

    .left, .right
      position: absolute
      top: 0
      bottom: 0
      cursor: pointer
      margin: auto
      background: #e2e2e2
      display: none
      align-items: center
      justify-content: center
      width: 40px
      height: 40px

      &:before
        font-size: 20px
        color: $brand-black

    .left
      left: -15px
      &:before
        content: '<'

    .right
      right: -15px
      &:before
        content: '>'

    @media (min-width: $screen-xs)
      padding: 0 40px

    @media (min-width: 1500px)
      padding: 0

      .left
        left: -55px
      .right
        right: -55px

  &--scroller
    overflow-x: scroll
    white-space: nowrap

  &--item
    min-width: 210px
    width: 210px

    .product-card--inner
      margin: 0

    .product-card--title
      white-space: normal

.vendor-page
  .vendor-page-sidebar
    margin-top: 25px
