.search-filters-container
  margin-bottom: 20px

.search-filters
  background-color: $filters-bg
  margin-bottom: 12px

  .mobile-filters-toggle label
    font-weight: normal
    padding: 15px
    position: relative
    width: 100%

    .caret-circle
      position: absolute
      margin: auto 0 auto
      margin-left: 20px
      top: 0
      bottom: 0

  .search-filter
    max-width: 350px

    .dropdown.open button, button:hover
      background-color: darken($filters-bg, 7%)

    button
      background-color: $filters-bg
      border: none
      border-right: 1px solid $filters-button-border
      padding: 12px 30px
      text-align: left
      transition: background-color .2s

      &:after
        content: none

    .dropdown-menu
      border: 0
      margin: 0
      padding: 15px 0
      width: 100%

      .dropdown-item
        label
          padding: 7.5px 35px

          &:hover
            background-color: $body-bg

.search-filters--tags
  min-height: 24px

.per-page-selector
  width: 75px

#mobile-search-filters-form
  height: 100%

.mobile-search-filters
  overflow-y: hidden

  li
    label
      text-transform: none
      padding: 12px 40px
      padding-right: 20px

  input:checked + label
    color: $brand-primary !important

  .close
    font-size: 24px

    label
      font-weight: normal
      font-size: 30px

  &--head
    padding: 12px 20px

  &--inner
    overflow-y: scroll

  .collapse-toggle
    display: flex
    align-items: center
    justify-content: space-between

  .collapse
    &--head
      background: $pagination-hover-bg
      padding: 6px 30px
