.product-variations
  display: grid
  grid-column-gap: 10px
  grid-row-gap: 10px
  grid-template-columns: repeat(auto-fill, minmax(120px, 160px))
  margin: 10px 0

  .variation-block

    &--link
      border: 1px solid #e1e1e1
      border-radius: 4px
      color: $text-color
      display: block
      line-height: 1.20
      padding: 7px 9px
      text-decoration: none
      font-size: 15px
      transition: 0.2s ease-in-out

      &.checked
        border-color: $brand-primary
        background-color: rgba($brand-primary, 0.05)
        font-weight: 500

      &:hover
        border-color: $brand-primary

    &--similar-list
      font-size: 13px
      line-height: 1.20
      margin-top: 6px

      .text-muted
        color: #9b9b9b

      .caret
        color: #e1e1e1
        margin-left: 3px

      &--more
        margin-bottom: 5px

.similar-variants
  &--container
    display: grid
    grid-template-areas: 'sidebar product-info' 'sidebar table'
    grid-template-columns: 16% auto
    grid-template-rows: minmax(auto, min-content) auto
    grid-row-gap: 20px
    margin-top: 30px

    @media (max-width: $screen-xs-max)
      grid-template-columns: 0fr auto
      grid-template-rows: auto auto
      margin-top: 20px

  &--image
    img
      max-width: 100%

      @media (max-width: $screen-xs-max)
        max-width: 100px

      @media (max-width: $screen-xs)
        max-width: 70px

  &--sidebar
    grid-area: sidebar

    @supports (display: grid)
      width: 100%

    @media (max-width: $screen-xs-max)
      grid-row: 1
      padding-right: 0

  &--filters
    margin-top: 30px

    .checkbox
      margin-bottom: 14px

    .variation-child--container
      margin-left: 25px

    &--container
      margin-top: 15px

  &--product-info
    grid-area: product-info

    h1, &--subtitle
      margin-bottom: 7px

    @media (max-width: $screen-xs)
      h1
        font-size: 18px

      h1, &--subtitle
        margin-bottom: 3px

  &--table
    grid-area: table

    @media (max-width: $screen-xs-max)
      grid-column: 1 / span 2

    @supports (display: grid)
      width: 100%

    &-header, &-body--row
      display: grid
      grid-column-gap: 10px
      grid-template-columns: minmax(150px, 17%) minmax(150px, 24%) minmax(150px, 26%) minmax(130px, 1fr) minmax(130px, auto)

      @media (max-width: $screen-sm)
        grid-template-columns: minmax(100px, 17%) minmax(100px, 24%) minmax(100px, 26%) minmax(100px, 1fr) minmax(65px, auto)

    &-header
      align-items: center
      background: $body-bg
      border: solid 1px $input-border
      padding: 9px 0 9px 15px

      @media (max-width: $screen-xs-max)
        grid-auto-flow: column
        grid-template-columns: auto
        grid-column-gap: 0
        justify-items: center
        background: transparent
        border: none
        padding-left: 0
        padding-top: 0

      &--item
        border-bottom: solid 1px $input-border
        text-align: center
        width: 100%

        &.active
          border: solid 1px $input-border
          border-bottom: none

          label
            color: $text-color

        label
          font-weight: normal
          color: $brand-primary
          padding: 10px
          width: 100%

    &-body
      &--row
        grid-template-areas: 'price option delivery seller action'
        border-bottom: 1px solid $table-border-color
        padding: 9px 0 22px 15px

        @media (max-width: $screen-xs-max)
          grid-template-columns: minmax(0%, auto)
          grid-template-areas: 'price' 'seller' 'note' 'action'
          padding: 15px 0

      &--price
        grid-area: price

        @media (max-width: $screen-xs-max)
          line-height: 1.5

      &--price-info
        .lead
          margin-bottom: 3px

      &--additional-props
        width: 100%

      &--image
        margin-right: 15px

        img
          max-width: 50px
          vertical-align: baseline

        @media (max-width: $screen-xs-max)
          margin-right: 10px

      &--option
        grid-area: option

      &--note
        grid-area: note
        position: relative

        @media (max-width: $screen-xs-max)
          font-weight: 300
          margin-bottom: 7px

          .show-more
            font-weight: normal
            position: absolute
            margin: 0
            bottom: -1.5em
            left: 0

      &--delivery
        grid-area: delivery

        ul
          padding-left: 0
          margin: 0
          list-style: none

          li
            font-size: 14px

          @media (min-width: $screen-sm-min)
            li:before
              content: "• "
              color: $input-border
              margin-right: 3px

      &--seller
        grid-area: seller

        .lead
          margin-bottom: 3px

          @media (min-width: $screen-sm-min)
            font-weight: bold
            width: 100%

          @media (max-width: $screen-xs-max)
            font-size: 14px
            font-weight: normal
            margin-right: 5px
            margin-bottom: 0

      &--action
        grid-area: action
        justify-self: end

        .btn
          white-space: normal
          padding: 0

          label
            cursor: pointer
            padding: 9px 21px

          @media (max-width: $screen-xs-max)
            font-size: 12px
