.star-rating-control
  unicode-bidi: bidi-override
  display: inline-flex
  align-items: center

.rating-cancel, .star-rating
  cursor: pointer
  position: relative
  display: inline-flex
  align-items: center

  a
    width: 100%
    position: absolute
    top: 0
    bottom: 0
    text-indent: -999em
    display: block

.rating-cancel
  display: none
  order: 2
  margin-left: 3px

  &:before
    @include cross-icon-bg
    background-repeat: no-repeat
    background-size: contain
    content: ''
    display: inline-block
    height: 12px
    width: 12px

.star-rating
  &:not(:last-child)
    margin-right: 1px

  &:before
    content: "\2605"
    color: #9b9b9b
    font-size: 20px

.star-rating-on, .star-rating-hover
  &:before
    color: $brand-yellow

.star-rating-readonly a
  cursor: default !important
