.root-taxon-title
  h1
    margin-top: 40px
    margin-bottom: 15px

    @media (max-width: $screen-md-max)
      margin-top: 15px

  .taxon-description
    max-width: 930px
    margin-bottom: 22px

.taxon-links
  list-style: none
  padding-left: 22px

  li
    padding: 7.5px 0

.taxon-heading
  width: 100%
  border-bottom: 1px solid #eaeaea

  h2
    margin: 0
    margin-right: 15px

    a
      color: $brand-black
      &:hover
        color: $brand-primary

.taxon-section
  margin-bottom: 40px

#taxonomy
  margin-bottom: 60px
