.social-login-form
  .btn-block + .btn-block
    margin-top: 15px

.user-signin-panel
  h3
    color: $brand-black
    margin-bottom: 35px

    @media (max-width: $screen-xs-max)
      font-size: 21px
      margin-bottom: 20px

  form
    margin-bottom: 30px

    @media (max-width: $screen-xs-max)
      margin-bottom: 20px

  .divider-with-text
    margin: 30px 0

  .signup-link
    line-height: 1.56

  .recover-link
    font-size: 14px

.user-account-layout
  @media (max-width: $screen-xs-max)
    background: #fff

.user-account-menu-dropdown
  margin-bottom: 15px

  button
    padding: 12px

  .dropdown-menu
    margin-top: -1px
    width: 100%

.account-pages--content
  & > div
    background: white
    padding: 45px 50px

    @media (min-width: $screen-sm-min)
      min-height: 746px

    @media (min-width: $screen-lg)
      min-height: 777px

    @media (max-width: $screen-xs-max)
      padding: 0

.account-summary
  section
    margin: 25px 0

    &:last-child
      margin-bottom: 0

  &--user-info
    @media (max-width: $screen-xs-max)
      margin-top: 15px

    &--name
      @media (min-width: $screen-sm)
        margin-left: 7px

      @media (max-width: $screen-xs-max)
        margin-top: 10px
        width: 100%

  &--user-balance
    .btn-link
      font-size: 14px

    .ptrn:before
      margin-right: 7px
      vertical-align: top

    @media (max-width: $screen-xs-max)
      h4
        font-size: 24px

    & > div:not(:last-child)
      @media (min-width: $screen-sm-min)
        margin-right: 25px

      @media (min-width: $screen-md-min)
        margin-right: 50px

    @media (max-width: $screen-xs)
      & > div
        width: 50%

        &:last-child
          margin-top: 40px
          width: 100%

  &--wallet
    .btn-link
      font-size: 14px

  &--referral-link
    input
      cursor: pointer

    button
      padding: 10px 18px

.address-card, .credit-card
  .card-links a:not(:last-child)
    margin-right: 20px

.user-account-form
  position: relative

  #breadcrumbs
    margin-bottom: 20px

  &--default-checkbox
    margin: 20px 0 30px

  &.padded
    @media (min-width: 1300px)
      padding: 80px 150px

.user-edit-form
  input[type='submit']
    margin-top: 40px

  .user_email, .user_password
    & > div
      position: relative

    input
      padding-right: 100px

      &:focus ~ .user_email--verify-wrapper a
        color: $text-muted

    &--addition-wrapper
      position: absolute
      top: 0
      bottom: 0
      right: 20px

.user-delete-btn-wrapper
  padding-top: 76px

  button
    color: #abb0b6

  img
    vertical-align: top
    margin-right: 5px

.user-rewards
  section
    margin-bottom: 25px

  &--balance
    div:first-child
      margin-right: 15px

    div:last-child span:first-child
      margin-right: 10px

    .info-icon-right:after
      margin-left: 0

  &--input-group
    position: relative

    .placeholder
      position: absolute
      padding: 14px 20px
      bottom: 0
      left: 0
      right: 0

    &--head
      margin-bottom: 11px

      .diamond-icon-left
        &:before
          margin-right: 2px

        img
          width: 24px

      .ptrn-right:after
        margin-left: 2px

      .diamond-icon-left:before, .ptrn-right:after
        background-size: contain
        height: 24px
        width: 24px
        vertical-align: text-top

  &--input-hint
    padding-left: 20px
    margin-top: 5px
