section.account-summary--referral-link
  .text-muted.upcase.margin-text-bottom = t('users.account-page.referral-link')

  .input-group#ref-link-input-group
    = text_field_tag nil, user_referral_link, readonly: true, class: 'form-control'
    .input-group-btn
      button.btn.btn-primary type='button' Copy

  small.hide.text-success = t('users.account-page.referral-link-copied')
