section.account-summary--user-balance.flex.wrap-xs.between-xs
  div
    .text-muted.upcase = t('orders.ptrn_rewards')
    h4.margin-text-vertical-eq.text-rewards.diamond-icon-left #{@user.rewards}
    = link_to t('users.view-tokens'), rewards_path

  div
    .text-muted.upcase = t('orders.pending')
    h4.text-black.margin-text-vertical-eq = @user.orders.complete.where(shipment_state: %i[pending ready]).count
    = link_to t('users.view-orders'), spree.account_path(tab: :orders)

  div
    .text-muted.upcase = t('orders.completed')
    h4.text-black.margin-text-vertical-eq = @user.orders.complete.where(shipment_state: :shipped).count
    = link_to t('users.view-order-history'), spree.account_path(tab: :orders)
