section.account-summary--wallet
  = render 'shared/disclaimer', anchor: false
  / .text-muted.upcase.margin-text-bottom = t('users.account-page.default-wallet')

  / .margin-text-bottom
  /   strong> ETH
  /   span - 0x6e35d9f579939f84dcbf2feb19…

  / = link_to t('users.account-page.manage-wallet', count: 3), '#', class: 'btn btn-link no-padding disabled'
