{
  "name": "Public Market",
  "short_name": "Public Mrkt",
  "start_url": "/",
	"display": "standalone",
  "orientation": "portrait",
  "theme_color": "#000000",
  "background_color": "#000000",
  "icons": [
		{
			"src": "<%= image_path('android-chrome-192x192.png') %>",
			"sizes": "192x192",
			"type": "image/png"
		},
		{
			"src": "<%= image_path('android-chrome-384x384.png') %>",
			"sizes": "384x384",
			"type": "image/png"
		},
		{
			"src": "<%= image_path('android-chrome-512x512.png') %>",
			"sizes": "512x512",
			"type": "image/png"
		}
	]
}
