document.getElementById('products').outerHTML = "<%= j(render(partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon, show_results_per_page: true })) %>"

window.lozadObserver.observe()
