- @body_class = 'bg-white how-it-works-page'
- disclaimer = capture do
  = render 'shared/disclaimer', anchor: true

- content_for :content_top do
  - cache([:v5, :pages, :how_it_works])
    .hero
      .container.flex.align-center.between
        .text-block.flex-1
          h1.no-margin = t('pages.how-it-works.hero.title')

          hr.no-margin-left

          h3.no-margin.semi-bold == t('pages.how-it-works.hero.hint')

        = image_tag 'how-it-works/mobile.svg', class: 'mobile-img hidden-xs flex-1'

    section.bg-gray.text-center.how-it-works-container
      .container
        h2.text-black == t('pages.how-it-works.how-works.title')

        hr.title-divider.blue-divider

        = render partial: 'spree/shared/how_it_works', locals: { items: t('pages.how-it-works.how-works.items').map { |i| { img: "how-it-works/#{i[:title].downcase}.svg", title: i[:title], text: i[:text].gsub('%{disclaimer}', disclaimer) } } }

    section.container.buyer-rewards-container#buyer-rewards
      .text-center
        h2.text-black.no-margin-top = t('pages.how-it-works.buyer-rewards.title')

        hr.blue-divider.title-divider

      .row.condensed.flex.align-center
        .col-md-6.col-xs-12.text-center
          = image_tag 'how-it-works/buy-earn.svg'

        .col-md-6.col-xs-12.text-col
          h3.text-black = t('pages.how-it-works.buyer-rewards.subtitle')

          hr.blue-divider.section-divider

          p.text-big = t('pages.how-it-works.buyer-rewards.text')

      .row.flex.align-center.redeeming-container
        .col-md-6.col-md-push-6.col-xs-12.text-center
          = image_tag 'how-it-works/redeeming.svg'

        .col-md-6.col-md-pull-6.col-xs-12.text-col
          h3.text-black = t('pages.how-it-works.redeeming.subtitle')

          hr.blue-divider.section-divider

          .text-big
            p = t('pages.how-it-works.redeeming.p1')
            p = t('pages.how-it-works.redeeming.p2')
            p = t('pages.how-it-works.redeeming.p3')

      .row
        .col-xs-12.text-center
          = link_to t('pages.how-it-works.protocol.btn'), spree_user_signed_in? ? products_path : signup_path, class: 'btn btn-crypto'

    section.bg-gray.bonus-rewards-container#holiday-bonus-rewards
      .container
        .text-center.hidden-xs.hidden-sm
          h2.text-black.no-margin-top = t('pages.how-it-works.bonus-rewards.title')

          hr.blue-divider.title-divider

        .row.condensed.flex.align-center
          .col-md-5.col-xs-12.text-center
            .video.widescreen
              iframe.no-border src='https://www.youtube.com/embed/FZ9H6--HK84?controls=0' allowfullscreen=true
            / = image_tag 'how-it-works/bonus-rewards.svg'

            .text-center.visible-xs.visible-sm
              br

              h2.text-black.no-margin-top = t('pages.how-it-works.bonus-rewards.title')

              hr.blue-divider.title-divider

          .col-md-6.col-md-offset-1.col-xs-12.text-col.text-big
            p == t('pages.how-it-works.bonus-rewards.p1', disclaimer: disclaimer )
            br
            p == t('pages.how-it-works.bonus-rewards.p2', disclaimer: disclaimer)
            br
            p == t('pages.how-it-works.bonus-rewards.p3', disclaimer: disclaimer)

            .bonus-rewards-equation == simple_format(t('pages.how-it-works.bonus-rewards.equation'))

    section.container.membership-container.text-center
      = image_tag 'how-it-works/membership.svg'

      .text-col
        h2.text-black = t('pages.how-it-works.membership.subtitle')

        hr.blue-divider.section-divider

        p.text-big = t('pages.how-it-works.membership.text')

    section.bg-gray
      .container.protocol-container
        .text-col.text-center
          h2.text-black.no-margin-top = t('pages.how-it-works.protocol.title')

          hr.title-divider.blue-divider

          .text-block.text-big
            p = t('pages.how-it-works.protocol.p1')
            p == t('pages.how-it-works.protocol.p2')

          = link_to 'Learn more', 'https://medium.com/public-market/liberating-ecommerce-public-market-the-new-commercial-commons-f71e176328f3', class: 'btn btn-primary', target: '_blank', rel: 'noopener'

        hr.blue-divider

        .disclaimer-block = content_for :disclaimer
