<form>
  <div data-hook="admin_products_index_search" class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <%= label_tag :name, Spree.t(:name) %>
        <%= text_field_tag :name, params[:name], size: 15, class: "form-control js-quick-search-target js-filterable" %>
      </div>
    </div>
  </div>
  <div data-hook="admin_products_index_search_buttons" class="form-actions">
    <%= button Spree.t(:search), 'search' %>
  </div>
</form>
