<tr data-hook="admin_products_index_headers">
  <th><%= Spree.t(:status) %></th>

  <th colspan="2">
    <%= Spree.t(:name) %>
  </th>

  <th class="text-center">
    <%= Spree.t(:master_price) %>
  </th>

  <th data-hook="admin_products_index_header_actions" class="actions"></th>
</tr>
