- if @footer != ''
  hr style='margin-bottom: 10px'

  p.black
    - if @footer.present?
      == @footer
    - else
      ' Have a question? Contact us at
      a href='mailto:info@public.market' info@public.market

- else
  br

table.menu
  tr
    td
      table
        tr
          th.menu-item
            a href="https://t.me/publicmrkt" = image_tag 'email/telegram.png', style: 'width: 50px'
          th.menu-item
            a href="https://medium.com/public-market" = image_tag 'email/medium.png', style: 'width: 50px'
          th.menu-item
            a href="https://twitter.com/publicmrkt" = image_tag 'email/twitter.png', style: 'width: 50px'
          th.menu-item
            a href="https://facebook.com/publicmrkt" = image_tag 'email/facebook.png', style: 'width: 50px'

= render 'mailer/spacer', size: 10

p.text-center
  - if @smtp_headers[:asm_groups_to_display].include?(@smtp_headers[:asm_group_id])
    a> href='%rawUnsubscribe%' = t('emails.unsubscribe.category')
    ' |

  a href='%rawPreferences%' = t('emails.unsubscribe.preferences')
  span<> |
  a href='mailto:contact@publicmarket.io?Subject=[Support]' = t('emails.contact_us')
  br
  ' This email was sent to
  span style='text-decoration: underline; color: #999 !important' #{@_message.to.first}
  br
  | 2018 © Public Market, All rights reserved
  br
  span style='opacity: 0.6' == t('emails.address')

- if @bottom
  hr
  == @bottom


