.account-summary
  h3.upcase.no-margin.text-center-xs = t('users.account-page.welcome', username: @user.display_name)

  - sections = %i[user_info referral_link user_balance address payment_info wallet]
  = render partial: 'spree/users/summary/template', collection: sections, as: :partial, spacer_template: 'spree/shared/hr_spacer'
