.account-my-orders data-hook='account_my_orders'
  h3.upcase.no-margin = t('users.orders-history.title')
  br
  - if @orders.present?
    = render partial: 'spree/orders/order', collection: @orders, as: :order
  - else
    .alert.alert-info= Spree.t(:you_have_no_orders_yet)

  .text-right = paginate @orders

  hr.margin-text-bottom
  = render 'shared/disclaimer', anchor: false
