- @body_id = 'signup'

.panel.no-border.panel-centered-wide.user-signin-panel.panel-height
  .panel-body.panel-body__big-padding
    h3.upcase.text-center.no-margin-top
      = Spree.t(:create_account)

    / = render 'spree/shared/social_buttons'

    / .divider-with-text
    /   span.upcase.or-divider or

    = simple_form_for resource, as: :spree_user, url: spree.registration_path, wrapper: :vertical_hint_label do |f|
      = f.input :email, placeholder: Spree.t(:email), value: f.object.email.presence, error: f.object.errors[:email].first&.html_safe

      = f.input :password, label: Spree.t(:create_password), error: f.object.errors[:password].first&.html_safe

      = f.input :password_confirmation, label: Spree.t(:confirm_password), error: f.object.errors[:password_confirmation].first&.html_safe

      = f.input :accept_terms, as: :boolean, error: false, label: content_tag(:span, t(:accept_terms).html_safe), wrapper: :inline_boolean

      = f.button :submit, Spree.t(:sign_up), class: 'btn btn-primary btn-lg btn-block upcase'

    .text-center
      ' Have an account?
      = link_to Spree.t(:sign_in), spree.login_path
