- user = collection.user

.product-collection--influencer-header
  - if user.avatar
    .product-collection--influencer-header--avatar.flex
      .product-collection--influencer-header--avatar--img
        = image_tag user.avatar.url(:thumb), class: 'img-circle'

      .product-collection--influencer-header--avatar--name.ellipsis
        - if user.full_name.present?
          .text-muted.ellipsis
            span.visible-inline-xxs> By
            = user.full_name

        - if user.twitter_name
          .ellipsis
            span = inline_svg('icons/icon-twitter')
            = link_to "@#{user.twitter_name}", "https://twitter.com/#{user.twitter_name}", target: '_blank', rel: 'noopener'

  .product-collection--influencer-header--name
    h1.upcase.no-margin = collection.name

  - if (description = collection.description.presence || user.bio.presence).present?
    .product-collection--influencer-header--bio
      = show_more(product_collection_description(description), length: bio_length)

hr
