- content_for :under_breadcrumbs
  .col-md-12.root-taxon-title
    - if @product_collection.user
      = render partial: 'influencer_header', locals: { collection: @product_collection }
    - else
      h1.upcase.text-black = @product_collection.name

      - if @product_collection.description
        hr.no-margin-top

        p.taxon-description == @product_collection.description

  .col-md-12
    = render partial: 'spree/search/filters'

= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon, show_results_per_page: true }

- content_for :bottom_scripts
  javascript:
    window.pm.mixpanelTrack('Collection Page View', {
      "id": "#{@product_collection.id}",
      "name": "#{@product_collection.name}"
    })
