ruby:
  taxon ||= nil
  separator ||= '&nbsp;'

- if taxon.present?
  - cache([:v1, :breadcrumbs, taxon, @product.present?])
    nav.col-md-12#breadcrumbs
      ol.breadcrumb itemscope='itemscope' itemtype='https://schema.org/BreadcrumbList'
        li itemscope='itemscope' itemtype='https://schema.org/ListItem' itemprop='itemListElement'
          = link_to spree.root_path, itemprop: 'item'
            span itemprop='name' = Spree.t(:home)

          meta itemprop='position' content='1'

        - if (taxons = taxon.ancestors).present?
          - taxons.each_with_index do |ancestor, i|
            li itemscope='itemscope' itemtype='https://schema.org/ListItem' itemprop='itemListElement'
              = link_to seo_url(ancestor), itemprop: 'item'
                span itemprop='name' = ancestor.name

              meta itemprop='position' content=(i + 2)

        li itemscope='itemscope' itemtype='https://schema.org/ListItem' itemprop='itemListElement'
          / use link to keep microdata valid
          = link_to seo_url(taxon), itemprop: 'item', class: ('btn btn-link disabled no-padding plain-link opacity-1' unless @product.present?)
            span itemprop='name' = taxon.name

          meta itemprop='position' content=(taxons.size + 2)
