<% sticky ||= false %>
<% additional_class ||= '' %>
<% alert_class = "alert-top fade #{'alert-top-sticky' if sticky}" %>
<% open_delay ||= nil %>
<% messages ||= flash %>

$(".alert-top").remove();

<% messages.each do |type, message| %>
  <% flash.discard(type) %>

  $('.site-content-wrap').before("<%= j render partial: 'spree/shared/flash_message', locals: { type: type, message: message, alert_class: [alert_class, additional_class].compact.join(' ') } %>");

  <% if sticky %>
    window.pm.initStickyAlert()
  <% end %>

  var openAlert = function() {
    $(".alert-top").addClass('in')
  }

  <% if open_delay %>
    setTimeout(openAlert, <%= open_delay %>)
  <% else %>
    openAlert()
  <% end %>

  <% if %i[notice success].any? { |m| type.to_sym == m } %>
    window.pm.autoCloseAlerts(<%= open_delay %>)
  <% end %>
<% end %>
