- auto_close_delay ||= mobile? ? 3000 : 5000
- additional_class = 'fade slide-down alert-autoclose' if %i[notice success].any? { |m| type.to_sym == m }

.alert.alert-dismissible class="alert-#{type} #{alert_class} #{additional_class}" data-close-delay=auto_close_delay
  .container
    a.close href='#' data-dismiss='alert' &times;
    div
      == message
