- cache([:v4, :font_preload_links])
  - Dir.glob("#{Rails.root}/app/assets/fonts/**/*.woff2").each do |path|
    link rel='preload' href=font_url(File.basename(path)) type="font/#{path.split('.').last}" as='font' crossorigin=true

  link rel='preload' href=font_url('bootstrap/glyphicons-halflings-regular.woff2') type='font/woff2' as='font' crossorigin=true
