- cache([:v5, :main_footer, spree_user_signed_in?])
  footer#main-footer
    .footer-wrap
      .container
        .row#footer-links data-turbolinks-permanent=true
          .col-xs-12.col-sm-3
            p
              a href=spree.root_path = image_tag 'logo/public_market_logo_white.svg', width: 150, alt: 'logo'
            p.small = t('footer.copyright')

            .media-links
              a href='https://t.me/publicmrkt' target='_blank' rel='noopener' = inline_svg('icons/icon-telegram')
              a href='https://medium.com/@publicmrkt' target='_blank' rel='noopener' = inline_svg('icons/icon-medium')
              a href='https://twitter.com/publicmrkt' target='_blank' rel='noopener' = inline_svg('icons/icon-twitter')
              a href='https://www.reddit.com/r/PublicMarket/' target='_blank' rel='noopener' = inline_svg('icons/icon-reddit')

          .col-xs-12.col-sm-3
            strong = t('footer.company')
            ul.list-unstyled
              li
                a href='https://publicmarket.io' = t('footer.about_us')
              li
                a href='mailto:contact@publicmarket.io' = t('footer.countact_us')
              li
                a href='/how-it-works' = t('footer.how_it_works')
              li
                a href=spree.sell_apply_path = t('footer.sell_on_pm')

          .col-xs-12.col-sm-3
            strong = t('footer.support')
            ul.list-unstyled
              li
                a href='https://publicmarket.freshdesk.com/support/solutions/folders/36000175079' = t('footer.account')
              li
                a href='https://publicmarket.freshdesk.com/support/solutions/folders/36000175071' = t('footer.shipping')
              li
                a href='https://publicmarket.freshdesk.com/support/solutions/folders/36000175072' = t('footer.returns')
              li
                a href='https://publicmarket.freshdesk.com/support/tickets/new' = t('footer.help')

          .col-xs-12.col-sm-3
            strong = t('footer.legal')
            ul.list-unstyled
              li
                a href='/terms-of-use' = t('footer.terms')
              li
                a href='/privacy-policy' = t('footer.privacy')
              li
                a href='/rewards-terms' = t('footer.rewards')
