<meta charset="utf-8">
<title><%= page_title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=5" name="viewport">

<% if Rails.env.production? || Rails.env.staging? %>
  <link rel="dns-prefetch preconnect" href="<%= ENV['ASSET_HOST'] %>" crossorigin>
  <link rel="dns-prefetch preconnect" href="https://nexus-websocket-a.intercom.io" crossorigin>
  <link rel="dns-prefetch preconnect" href="https://nexus-websocket-b.intercom.io" crossorigin>
  <link rel="dns-prefetch preconnect" href="https://api-iam.intercom.io" crossorigin>
  <link rel="dns-prefetch preconnect" href="https://cdn.mxpnl.com" crossorigin>
  <link rel="dns-prefetch preconnect" href="https://api.mixpanel.com" crossorigin>
<% end %>

<%= render partial: 'spree/shared/font_preload_links' %>

<meta name='turbolinks-cache-control' content='no-cache' />
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>

<%= render 'spree/shared/favicons' %>

<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>

<% if Rails.env.test? %>
  <!-- use to avoid flakiness because of animations/transitions -->
  <%= stylesheet_link_tag 'disable_animations'  %>
<% end %>

<%= csrf_meta_tags %>

<% if Rails.env.production? || Rails.env.staging? %>
  <%= render partial: 'shared/sentry' %>
<% end %>

<%= render 'spree/shared/paths' %>
<%= javascript_include_tag 'spree/frontend/all' %>

<!-- load polyfill for lazy loading -->
<script type="text/javascript">
  if (!('IntersectionObserver' in window)) {
    var script = document.createElement("script");
    script.src = "<%= javascript_path('intersection-observer/intersection-observer.js') %>";
    document.getElementsByTagName('head')[0].appendChild(script);
  }
</script>

<%= javascript_include_tag 'lozad/dist/lozad.js' %>
<%= javascript_include_tag 'typeahead', async: true %>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->

<%= yield :head %>

<%= render 'spree/shared/translations' %>

<% if Rails.env.production? %>
  <%= render partial: 'shared/ga' %>
<% end %>

<% if %w[staging production].include?(Rails.env) %>
  <script type="text/javascript">
    (function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
    0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);

    mixpanel.init("<%= Rails.application.credentials.mixpanel_api_key %>", {
      loaded: function() {
        // Execute any mixpanel actions in session
        <% if session && session[:mixpanel_actions] %>
          <% session[:mixpanel_actions].each do |action| %>
            <%= action.html_safe %>;
          <% end %>
          <% session.delete(:mixpanel_actions) %>
        <% end %>
      }
    });
  </script>
<% end %>
