ruby:
  root_taxons = Spree::Taxon.navigatable.roots.reorder('spree_taxonomies.position')
  enabled_taxons = root_taxons.visible
  disabled_taxons = root_taxons.hidden
  # taxon = @taxon&.root || (Spree::Taxon.find_by(id: params[:taxon]) if params[:taxon])
  taxon = @taxon&.root

- cache([:v15, :mobile_menu, root_taxons, taxon, spree_current_user])
  / MOBILE MENU
  .visible-xs.visible-sm
    = render partial: 'spree/nav/mobile_menu', locals: { enabled_taxons: enabled_taxons, disabled_taxons: disabled_taxons }

/ MAIN NAVBAR
#spree-header
  header.container-fluid.flex.align-center.between.nowrap-md
    .hidden-xs.hidden-sm#logo
      = link_to image_tag(Spree::Config[:logo], alt: 'logo'), spree.root_path

    .top-navbar
      .flex.between.align-center
        - cache([:v7, :navbar_top_row])
          / MOBILE MENU TOGGLE
          .visible-xs.visible-sm
            label.no-margin.mobile-menu-btn for='mobile-nav-toggle'
              = image_tag 'icons/menu.svg', alt: 'Menu'

          = render partial: 'spree/nav/navbar_top_row'

        / PART WITH NO CACHE BECAUSE OF KEYWORD PARAMS
        .flex.flex-1.nowrap.end.align-center
          = render partial: 'spree/nav/navbar_search', locals: { taxon: taxon, root_taxons: root_taxons, enabled_taxons: enabled_taxons, disabled_taxons: disabled_taxons }

          - cache([:v7, :navbar_top_right, user_rewards_cache_key])
            = render partial: 'spree/nav/navbar_top_right'

      - cache([:v10, :navbar_bottom_row, root_taxons, taxon])
        / use divider instead of border because rows/cols have paddings
        hr.divider.hidden-xs.hidden-sm

        = render partial: 'spree/nav/navbar_bottom_row', locals: { taxon: taxon, taxons: root_taxons }
