- disclaimer = capture do
  = render 'shared/disclaimer', anchor: true

ruby:
  items ||= [
    {
      img: 'icons/how-zero-fees.svg',
      title: t('how_it_works.first_benefit_title'),
      text: t('how_it_works.first_benefit_title_text')
    },
    {
      img: 'icons/how-buyer-rewards.svg',
      title: t('how_it_works.second_benefit_title'),
      text: t('how_it_works.second_benefit_title_text', disclaimer: disclaimer)
    },
    {
      img: 'icons/how-free-shipping.svg',
      title: t('how_it_works.third_benefit_title'),
      text: t('how_it_works.third_benefit_title_text', disclaimer: disclaimer)
    }
  ]

.row.flex.eq-height-columns.how-it-works
  - items.each do |item|
    .col-md-4.col-xs-12
      .box
        = image_tag item[:img], class: 'icon', alt: item[:title]
        h3 = item[:title]
        hr.blue-divider
        p == item[:text]
