/ mobile + tablet view if signed in
/ always show if not signed in
li.link-to-account.hidden-xxs class=('visible-xs' if spree_user_signed_in?)
  = link_to spree_user_signed_in? ? spree.account_path : spree.login_path, class: 'ellipsis'
    = image_tag 'icons/user.svg', alt: 'account'
    .margin-text-left.hidden-xs = spree_current_user&.display_name || Spree.t(:login)

/ DESKTOP DROPDOWN MENU
- if spree_user_signed_in?
  = render partial: 'spree/nav/navbar_user_dropdown'
