ruby:
  variant = line_item.variant
  product = variant.product
  units = line_item.inventory_units.to_a
  shipment ||= nil

table.row.line-item style='margin-bottom:7px'
  tbody
    tr
      th.small-2.large-2.columns
        table
          tr
            th
              - image = product.images[0] ? product.images[0].attachment.url(:small) : 'noimage/small.png'
              = image_tag image, style: 'width:65px'

      th.small-7.large-8.columns
        table
          tr
            th
              .text-semibold = product.name
              .text-muted = variant_option_qty(variant, line_item.quantity_by_status, order: true)

              - if line_item.quantity > 0 && units.any?(&:canceled?)
                .text-danger #{units.select(&:shipped?).length} Shipped / #{units.select(&:canceled?).length} Canceled

      th.small-2.large-2.columns
        table
          tr
            th.text-right
              span.text-semibold = line_item.display_amount_by_status

              - unless shipment&.shipping_method&.free?
                .line-item-shipping + shipping

              p.text-rewards.text-right.text-semibold.nowrap #{image_tag('icons/rewards-diamond.png', style: 'width:15px;max-width:15px;display:inline;vertical-align:middle')} #{line_item.rewards_amount_by_status}
