.flex.wrap.between.margin-text-bottom.text-enlarge.align-center
  .upcase = t('orders.subtotal')
  span.text-high = order.display_item_total

.flex.wrap.between.margin-text-bottom.text-enlarge.align-center
  .upcase = t('orders.shipping')
  span.text-high = order.shipment_total > 0 ? order.display_shipment_total : 'FREE'

.flex.wrap.between.margin-text-bottom.text-enlarge.text-bold.align-center
  .upcase = t('orders.total')
  span.text-high = order.display_total

hr.margin-text-vertical-eq
.flex.wrap.between.margin-text-bottom.text-enlarge.align-center.text-rewards.text-bold
  .upcase
    = t('orders.buyer_rewards')
    = render 'shared/disclaimer', anchor: true
  .text-high.diamond-icon-left == t('products.total_rewards', rewards: order.rewards_amount)

.alert.alert-rewards.text-rewards.flex.wrap.between.align-center.margin-text-bottom.text-enlarge.order-daily-rewards
  .upcase.text-bold == t('orders.est_daily_rewards')

  .text-high
    span> +
    span.diamond-icon-left.text-rewards.ellipsis = number_to_currency(estimate_daily_rewards(order.total))
    span.info-icon-right.condensed.outlined.daily-rewards-hint-trigger.hover-popover
