ruby:
  ignored_types = ['order_completed'] || []

- flash.each do |msg_type, text|
  - next if ignored_types.include?(msg_type)

  = render partial: 'spree/shared/flash_message', locals: { type: msg_type, message: text, alert_class: 'alert-top in' }
