section.staff-picks data-hook='homepage_staff_picks'
  .offer
    h4 = t('home.video_title')

  .row.flex
    .col-xs-8.col-xs-offset-2.col-md-3.col-md-offset-1.content.flex.column.align-center
      h3.text-white = t('home.video_header')
      p.text-big.text-white = t('home.video_content_text')

    .col-xs-12.col-md-6.col-md-offset-2.flex.align-center
      .staff-picks-items.video.widescreen
        iframe.no-border src='https://www.youtube.com/embed/FZ9H6--HK84?controls=0' allowfullscreen=true
