nav#taxonomy
  - taxon_lvl = @taxon.root? ? :root : :child
  h3.upcase.text-black.no-margin-top = t("filters.taxonomy_title.#{taxon_lvl}.#{taxonomy.name.downcase}", default: t("filters.taxonomy_title.#{taxon_lvl}.default"))

  ul.taxon-links
    - taxons.each do |taxon|
      - css_class = ['plain-link', ('active' if @taxon && @taxon.self_and_ancestors.include?(taxon))].join(' ')
      li = link_to(taxon.name, seo_url(taxon), class: css_class)
