ruby:
  user_rewards = @user.rewards

= render layout: 'spree/users/account_template'
  .user-rewards
    h3.upcase.no-margin = t('menus.account.rewards')
    br.hidden-xs

    h1.diamond-icon-left.text-rewards = user_rewards

    .flex.wrap.user-rewards--balance
      .semi-bold $0.00 Available
      .text-muted
        span> #{user_rewards} Pending
        span.info-icon-right.outlined#pending-rewards-icon.hover-popover

    hr

    section
      .user-rewards--input-group
        h5.upcase = t('users.redemption_address')
        .placeholder.text-muted.ellipsis
          strong> ETH
          | - 0xXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        = text_field_tag :redemption_address, nil, disabled: true, class: 'form-control flex-1 input-lg'

      .user-rewards--input-hint.text-small = t('users.redemption_address_hint')

    section
      .user-rewards--input-group
        .flex.between.align-center.user-rewards--input-group--head
          h5.upcase.no-margin = t('users.rewards_available')

          .diamond-icon-left.ptrn-right.flex.align-center.text-muted
            = image_tag 'icons/long-arrow-right.svg'

        .placeholder.text-muted.ellipsis $0.00
        = text_field_tag :redemption_address, nil, disabled: true, class: 'form-control flex-1 input-lg'

      .user-rewards--input-hint.text-small = t('users.rewards_available_hint')

    = button_tag t('users.redeem_btn'), class: 'btn btn-default btn-block disabled', disabled: true

    .text-center
      br
      .text-warning.warning-icon-left.margin-text-bottom = t('users.redeem_hint')
      .text-small == t('users.rewards-program-hint')

    hr.margin-text-bottom
    = render 'shared/disclaimer', anchor: false

- content_for :bottom_scripts
  javascript:
    $('#pending-rewards-icon').popover({
      html: true,
      container: 'body',
      content: "#{t('users.pending-rewards-hint.content').html_safe}",
      title: "#{t('users.pending-rewards-hint.title')}",
      placement: isMobile() ? 'bottom' : 'right',
      trigger: 'manual',
      template: '<div class="popover popover--condensed popover--info" role="tooltip"><div class="arrow"></div><h3 class="popover-title info-icon-left outline-info"></h3><div class="popover-content"></div></div>'
    })
