#additonal-note-accordion.accordion
  .product-description.card itemprop='description'
    a.pull-right role='button' data-toggle='collapse' data-parent='#additonal-note-accordion' href="#additonal-note-details" aria-expanded='true' aria-controls='additonal-note-details'
    h6.upcase Condition Notes
    #additonal-note-details.collapse class=('in' unless @buy_box_variant.main_option_value&.casecmp('New')&.zero?) = additional_product_note(@product, @buy_box_variant)
