section.top-categories
  .row
    .col-md-12
      - if header.present?
        h2 = header

      .divider style=('margin-top:40px' if header.blank?)

  .row
    - collections.each do |collection|
      - min_price = Spree::Inventory::Searchers::MinPrice.call(filter: { collections: [collection.id] })
      .col-md-6.col-sm-12
        .box.flex.column-xs.center-xs.between.align-center
          .content
            h3
              = link_to collection[:name], product_collections_path(collection), class: 'plain-link text-black'
            p.text-big Starting at #{number_to_currency(min_price.to_f)}
            = link_to 'SHOP NOW', product_collections_path(collection), class: 'btn btn-primary'

          figure
            = link_to product_collections_path(collection) do
              = image_tag collection.image ? collection.image.attachment(:thumb) : 'home/books.png', class: 'lozad', alt: collection.name
