ruby:
  taxon ||= nil
  products = fetch_home_top_selling_products(taxon)

- if products.any?
  h2.upcase == taxon.promoted_title.presence || t('home.top_products_header', taxon: taxon.name)
  = link_to "View All", top_selling_taxon_path(taxon), { class: "view-all" }

  .divider
  .homepage-products
    = render partial: 'spree/shared/products', locals: { products: products, pagination: nil, card_size:'col-md-2 col-sm-3 col-st-3 col-xs-6', max_mobile: 2, max_tablet: 4 }

  br
