ruby:
  @body_id = 'home-page'
  @body_class = ''

- content_for :content_top do
  .hero data-hook="homepage_hero"
    .container
      .content.text-center.text-white
        h1.upcase = t('hero.header')

        h3.no-margin-top = t('hero.subheader')

        - if spree_user_signed_in?
          = link_to t('hero.call_to_action.signed_in'), '/how-it-works', class: 'btn btn-crypto'
        - else
          = link_to t('hero.call_to_action.signed_out'), '/signup', class: 'btn btn-crypto'

          .text-center.text-big
            ' How does it work?
            = link_to 'Learn more', '/how-it-works', class: 'text-white text-bold'

  section.container.how-it-works-container.text-center
    h2.upcase = t('how_it_works.header')

    = render partial: 'spree/shared/how_it_works'

- cache(home_top_collections_cache_key, expires_in: 1.hour) do
  - product_collections = fetch_product_collections

  - if product_collections.present?
    = render partial: 'spree/home/promoted_collection', locals: { header: t('home.top_collections_header'), collections: product_collections.shift(2) }

  = render partial: 'spree/shared/staff_picks'

  - if product_collections.present?
    = render partial: 'spree/home/promoted_collection', locals: { header: t('home.bottom_collections_header'), collections: product_collections }

- cache(home_top_selling_cache_key, expires_in: 1.hour) do
  section.top-products
    - Spree::Taxon.promoted.order(:position).each do |taxon|
      = render partial: 'top_selling_section', locals: { taxon: taxon }

    br

    = link_to("View All Top Products", top_selling_path, class: 'show text-center')

    div style='margin-top: 80px'
    hr.blue-divider
    .disclaimer-block = content_for :disclaimer

javascript:
  window.pm.mixpanelTrack("homepage view")
