h4.text-center.upcase.text-rewards style='font-weight:normal;background-color:#ad135711;padding:5px;margin: 16px 7% 10px 7%;'
  b> +
  = image_tag('icons/rewards-diamond.png', style: 'width:20px;max-width:20px;display:inline;vertical-align:middle')
  |  <b>#{number_to_currency(reward.amount)}</b> in <span class='show-for-large'>Daily</span> Holiday Bonus Rewards
p.text-center.text-rewards
  | (
  = image_tag('icons/rewards-diamond.png', style: 'width:15px;max-width:15px;display:inline;vertical-align:middle')
  | #{number_to_currency(reward.referees_amount)} of which you earned via friends you referred)