- @body_id = 'login'

.panel.no-border.panel-centered-wide.user-signin-panel.panel-height
  .panel-body.panel-body__big-padding
    h3.upcase.text-center.no-margin-top = Spree.t(:welcome_back)

    / = render partial: 'spree/shared/social_buttons'

    / .divider-with-text
    /   span.upcase.or-divider or

    = simple_form_for @user || Spree::User.new, as: :spree_user, url: spree.create_new_session_path, wrapper: :vertical_hint_label do |f|
      = f.input :username, label: Spree.t(:email_login), autofocus: true, input_html: { value: f.object.email.presence || session.delete(:email) }
      = f.input :password, label: Spree.t(:password)
      = f.input :remember_me, as: :boolean, label: content_tag(:span, Spree.t(:remember_me)), wrapper: :inline_boolean

      = f.button :submit, Spree.t(:sign_in), class: 'btn btn-primary btn-lg btn-block upcase'

    .text-center
      span.signup-link
        ' Don't have an account?
        = link_to Spree.t(:sign_up), spree.registration_path

      p
        = link_to Spree.t(:forgot_password), spree.recover_password_path, class: 'muted-link recover-link'
