.row
  .col-xs-12
    = f.field_container :email, class: ['form-group'] do
      = f.label :email, Spree.t(:email)
      span.required
        | *
      = f.text_field :email, class: 'form-control'
      = f.error_message_on :email

    = f.field_container :source, class: ['form-group'] do
      = f.label :source, :source
      = f.text_field :source, class: 'form-control'
      = f.error_message_on :source

    = f.field_container :source_id, class: ['form-group'] do
      = f.label :source_id, :source_id
      = f.text_field :source_id, class: 'form-control'
      = f.error_message_on :source_id

    = f.field_container :source_parent_id, class: ['form-group'] do
      = f.label :source_parent_id, :source_parent_id
      = f.text_field :source_parent_id, class: 'form-control'
      = f.error_message_on :source_parent_id

    = f.field_container :user, class: ['form-group'] do
      = f.label :user, Spree.t(:user)
      = f.select :user_id, [], { include_blank: true }, disabled: true, class: 'select2'
