- content_for :page_title do
  = link_to Spree.t(:lead), admin_leads_url
  ' &nbsp;/
  = @lead.email

= render partial: 'spree/admin/shared/error_messages', locals: { target: @lead }

= form_for [:admin, @lead], html: { multipart: true } do |f|
  fieldset
    = render partial: 'form', locals: { f: f }
    = render partial: 'spree/admin/shared/edit_resource_links'
