- content_for :page_title do
  = plural_resource_name(Spree::Lead)

- if can?(:create, Spree::Lead)
  - content_for :page_actions do
    = button_link_to Spree.t(:export_leads), export_admin_leads_url, class: "btn-primary", icon: 'export'
    '
    = button_link_to Spree.t(:new_lead), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_lead_collection_link'

- if @collection.any?
  - content_for :table_filter do
    = search_form_for [:admin, @search] do |f|
      .row
        .col-xs-12.col-md-6
          .form-group
            = f.label :email_cont, Spree.t(:email)
            = f.text_field :email_cont, class: "form-control js-quick-search-target js-filterable"

      .form-actions
        = button Spree.t(:search), 'search'

  table.table
    thead
      tr
        th
          = Spree.t(:email)
        th
          = Spree.t(:user)

        th.actions
    tbody
      - @collection.each do |lead|
        tr id=spree_dom_id(lead)
          td
            = lead.email
          td
            - if lead.user
              = link_to(lead.user.display_name, spree.admin_user_path(id: lead.user_id))
          td.actions.actions-2.text-right
            = link_to_with_icon('show', Spree.t(:show), spree.admin_lead_path(id: lead.id), class: 'btn btn-primary btn-sm', no_text: true, data: { action: 'show' }) if can?(:show, lead)
            | &nbsp;
            = link_to_edit(lead, no_text: true) if can?(:edit, lead)
            | &nbsp;
            = link_to_delete(lead, no_text: true) if can?(:delete, lead)
- else
  .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Lead))
    ' ,
    = link_to Spree.t(:add_one), new_object_url if can?(:create, Spree::Lead)

= paginate @collection
