= render partial: 'spree/admin/shared/error_messages', locals: { target: @lead }

- content_for :page_title do
  = link_to Spree.t(:leads), admin_leads_url
  ' &nbsp;/
  = Spree.t(:new_lead)

= form_for [:admin, @lead], html: { multipart: true } do |f|
  fieldset
    = render partial: 'form', locals: { f: f }

    .form-actions
      = render partial: 'spree/admin/shared/new_resource_links'

h3 OR

= form_for(:leads, url: upload_admin_leads_path, method: :post, multipart: true) do |f|
  fieldset
    p.form-buttons
      = f.field_container :source, class: ['form-group'] do
        = f.label :source, :source
        = f.text_field :source, class: 'form-control'
        = f.error_message_on :source

      = f.field_container :file do
        = f.label :file, 'Upload file'

        br

        = f.file_field :file

      br

      = button 'Upload', 'add', 'submit', class: "btn-success"
