- content_for :page_title do
  = link_to Spree.t(:lead), admin_leads_url
  ' &nbsp;/
  = @lead.email

h4 Referred Count: #{Spree::Lead.where("metadata ->> 'parent_email' = ?",  @lead.email).count}

p Email: #{@lead.email}
p Source Ref ID: #{@lead.source_id}
p Parent source Ref ID: #{@lead.source_parent_id}
p Source created: #{@lead.source_created_at}

- if (user = @lead.user)
  p User: #{link_to(user.display_name, spree.admin_user_path(id: user.id))}

p Metadata:
- @lead.metadata.each do |k, v|
  strong> = k
  = v
  br
