.similar-variants--table-body
  = form_for :order, url: populate_orders_path, remote: true do |f|
    = hidden_field_tag :quantity, 1

    .similar-variants--table-header.hidden-xs.upcase
      span = t('similar_variants.table_header.price')
      span Condition
      span = t('similar_variants.table_header.delivery_ptrn')
      span = t('similar_variants.table_header.seller')

    .similar-variants--table-header.visible-grid-xs
      .similar-variants--table-header--item.active
        .hide = radio_button_tag 'radio_variation', 'all', true, id: "radio_all"
        label.no-margin for="radio_all" All

      - if filters
        - filters.each do |option, _child_options|
          .similar-variants--table-header--item
            .hide = radio_button_tag 'radio_variation', option.parameterize, false, id: "radio_#{option}"
            label.no-margin for="radio_#{option}" = option.titleize

    - @variants.each do |variant|
      - cache([:v5, :similar_variant_table, @product, variant]) do
        ruby:
          seller_note = variant.notes
          product = variant.product
          additional_props = additional_variation_property(variant)
          ship_method = variant.vendor.shipping_methods.first
          free_ship_method = ship_method.free?
          ship_calculator = ship_method.calculator
          variant_ship_price = fake_package_price(ship_calculator, variant)

        .similar-variants--table-body--row data-variation=variant_data_options(variant)
          .hide = radio_button_tag 'variant_id', variant.id, false, id: "variant_id_#{variant.id}"

          .similar-variants--table-body--price.flex.wrap-sm
            .similar-variants--table-body--image
              = link_to product_path(product, var: variant.hash_id)
                = small_image(product, itemprop: 'image')

            .similar-variants--table-body--price-info.ellipsis
              span.lead.text-dark-danger.margin-text-right = display_price(variant)

              strong.visible-xs-inline = variant.main_option_value

              div
                .visible-xs
                  == shipping_method_title(ship_method, price: variant_ship_price, show_method_name: false)

                .hidden-xs.semi-bold
                  == shipping_method_title(ship_method, price: variant_ship_price, show_method_name: false, with_eta: false)

                .text-rewards.diamond-icon-left.condensed.visible-xs == t('products.earn_rewards_short', rewards: variant.rewards_amount)

              / - if additional_props.present?
              /   .ellipsis.hidden-xs = additional_props

            / - if additional_props.present?
            /   .similar-variants--table-body--additional-props.ellipsis.visible-xs = additional_props

          .similar-variants--table-body--option.hidden-xs
            .lead.no-margin-bottom.text-bold = variant.main_option_value
            - if seller_note
              span = show_more(seller_note, length: 95)

          .similar-variants--table-body--delivery.hidden-xs
            ul
              li>
                span.semi-bold> = ship_method.name
                = t('products.ship_eta', from: ship_method.eta_from, to: ship_method.eta_to)

              li == t('products.arrival', from: ship_method.eta_from.days.from_now.strftime('%b %d'), to: ship_method.eta_to.days.from_now.strftime('%b %d'))

              li
                span.text-rewards.diamond-icon-left.condensed == t('products.earn_rewards_short', rewards: variant.rewards_amount)

          .similar-variants--table-body--seller.flex.align-center.wrap.nowrap-xs.align-content-start.ellipsis
            .lead.ellipsis = variant.vendor.name
            .text-success 87% Positive Ratings

          .similar-variants--table-body--action
            = f.button class: 'btn btn-primary', value: 'add-to-cart', type: :submit do
              label.no-margin.semi-bold for="variant_id_#{variant.id}"
                = Spree.t(:add_to_cart)

          - if seller_note
            .similar-variants--table-body--note.visible-xs
              == show_more(seller_note, length: 100, arrow: true)
