.row
  .col-xs-12
    = f.field_container :name, class: ['form-group'] do
      = f.label :name, Spree.t(:name)
      span.required
        | *
      = f.text_field :name, class: 'form-control'
      = f.error_message_on :name

    = f.field_container :slug, class: ['form-group'] do
      = f.label :slug, Spree.t(:slug)
      = f.text_field :slug, class: 'form-control'
      = f.error_message_on :slug

    = f.field_container :influencer_slug, class: ['form-group'] do
      = f.label :influencer_slug
      = f.text_field :influencer_slug, class: 'form-control', id: 'permalink_part'
      = f.error_message_on :influencer_slug
      p class="help-block" id="permalink_part_display" #{spree.root_url}c/

    = f.field_container :description, class: ['form-group'] do
      = f.label :description, Spree.t(:description)
      = f.text_area :description, class: 'form-control'
      = f.error_message_on :description

    = f.field_container :image, class: ['form-group'] do
      = f.label :image, Spree.t(:image)
      = f.file_field :image

      - if f.object.image
        = image_tag f.object.image.url(:thumb)

    .checkbox
      = f.label :promoted do
        = f.check_box :promoted
        = Spree.t(:promoted)

    = f.field_container :taxonomy, class: ['form-group'] do
      = f.label :taxonomy, Spree.t(:taxonomy)
      = f.select :taxonomy_id, Spree::Taxonomy.all.pluck(:name, :id), { include_blank: true }, class: 'select2'

    = f.field_container :user, class: ['form-group'] do
      = f.label :user, Spree.t(:user)
      = f.select :user_id, Spree::User.all.pluck(:email, :id), { include_blank: true }, class: 'select2'
