- content_for :page_title do
  = link_to Spree.t(:product_collection), admin_product_collections_url
  ' &nbsp;/
  = @product_collection.name

- content_for :page_actions
  = button_link_to 'View Product Collection', product_collections_url(@product_collection), { class: 'btn-default', icon: 'eye-open', target: :_blank }

= render partial: 'spree/admin/shared/error_messages', locals: { target: @product_collection }

= form_for [:admin, @product_collection], html: { multipart: true } do |f|
  fieldset
    = render partial: 'form', locals: { f: f }
    = render partial: 'spree/admin/shared/edit_resource_links'

- if @product_collection_products.present?
  hr

  h3 Products

  table.table
    thead
      tr
        th
          = Spree.t(:name)
        th.actions

    tbody
      - @product_collection_products.each do |product_collection_product|
        - product = product_collection_product.product

        tr id=spree_dom_id(product_collection_product)
          td = product.name

          td.actions.actions-2.text-right
            => link_to_with_icon 'show', 'View', product, class: 'btn btn-default btn-sm', no_text: true, target: '_blank'

            => link_to_edit(product, url: edit_admin_product_path(product), target: '_blank', no_text: true, class: 'edit') if can?(:edit, product)

            = link_to_delete(product_collection_product, url: admin_product_collection_product_path(product_collection_product), no_text: true) if can?(:delete, product_collection_product)

  = paginate @product_collection_products
